

// MEDIA QUERY BY NAME
$desktop: "(max-width: 1366px)"; // < 1366
$tabletUp: "(max-width: 1024px)"; // < 1024
$tablet: "(max-width: 768px)"; // < 768
$tabletDown: "(max-width: 640px)"; // < 768
$mobileUp: "(max-width: 510px)"; // < 414
$mobileDown: "(max-width: 375px)"; // < 375
$mobile: "(max-width: 320px)"; // < 320

// COLORS:

// colors default
$primary-color: #b4191e;
$secondary-color: #e5e5e5;
$bg-color: #f5f5f5;

$white: #fff;
$red: #b4181e;
$orange-blur: #f8efe2;
$green: #0456b6;
$gray: #686868;

// FONT SIZE

$font-small: 12px;
$font-nomal: 14px;
$font-medium: 20px;


// SPACINGS
$space-normal: 15px;
$space-smaller: 10px;
$space-small: 20px;
$space-medium: 40px;
$space-big: 80px;
$space-bigger: 100px;


// TYPOGRAPHY
$font-path: "../fonts";
$font-lato: "Lato";
$font-utm: "UTMAlterGothic";
$font-oswald: "VNF-Oswald";
$font-oswaldvnf: "OswaldVNF";
$font-roboto: "Roboto";
$font-noto: "NotoSerif";
$font-noto-bold: "NotoSerif-Bold";
$font-utm-talling: "UTMTalling";
$font-utm-coloss: "UTMColossalis";
$font-utm-helveIn: "UTMHelvetIns";
$font-utm-swiss: "UTMSwiss721BlackCondensed";
$font-oswaldLight: "Oswald-Light";

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;



