//@import "compass";
@import 'bourbon/bourbon';
@import "variables";
// @import "utilities";
@import 'fontface';
@import "mixins";

@import './common/common';
@import './common/header';
@import './common/footer';
@import './common/menu';

@import './pages/home';
@import './pages/sidebar';
@import './pages/details';
@import './pages/schedule';
@import './pages/news';
@import './pages/teams';
@import './pages/photo';
@import './pages/video';
@import './pages/identify';
@import './pages/questions';
@import './pages/guess';
@import './pages/event';
@import './pages/teams-detail';




body {
	min-width: 100%;
	font-family: $font-lato;
	font-weight: $font-weight-regular;
	line-height: 1.2;
}

*:focus {
	outline: none !important;
}

a, a:hover, a:visited, a:active, a:link{
	text-decoration: none;
}
ul {
	padding: 0;
}
h1, h2, h3, h4, h5, p, a span, label, button {
	font-weight: $font-weight-regular;
	margin: 0;
}
img{
	border: none;
	max-width: 100%;
}

/* ---------------- Grid ---------------- */
.container {
	width: 1190px;
	padding: 0;
}
.row-0 {
  	margin: 0px;
  	padding: 0px;
  	> .col-lg-3 {
		width: $space-bigger * 3;
  	}
  	> .col-lg-9 {
		width: calc(100% - 300px - 15px);
		margin-right: $space-smaller + 5 !important;
  	}
  	> .col-lg-2 {
  		width: 160px;
  		margin-right: $space-smaller + 5 !important;
  	}
  	> .col-lg-7 {
  		width: calc(100% - 300px - 30px - 160px);
  		margin-right: $space-smaller + 5 !important;
  	}
}
.row-0 > div[class^=col-] {
  margin: 0px;
  padding: 0px;
}
.row-0 :after {
  content: "";
  clear: both;
}

.container-30 {
  padding: 0px 30px;
}
@media #{$desktop} {
	.container {
		max-width: 1060px;
		width: 1060px;
	}
}
@media #{$tabletUp} {
	.container {
		max-width: 1000px;
		width: 1000px;
	}
	.row-0 {
		> .col-lg-3 {
			width: 100%;
		}
		> .col-lg-9 {
			width: 100%;
		}
		> .col-lg-7 {
	  		width: 100%;
	  		margin-right: $space-smaller + 5 !important;
	  	}
	}
}
@media #{$tablet} {
	.container {
	    width: 750px;
	    padding: 0 15px;
	}
	.row-0 {
		> .col-lg-2 {
	  		display: none;
	  	}
	}
}
@media #{$tabletDown} {
	.container {
	    width: 640px;
	    padding: 0 15px;
	}
}
@media #{$mobileUp} {
	.container {
	    width: 100%;
	    padding: 0 10px;
	}
}
