.main-content-page {
    > .title {
        font-size: $font-medium + 12;
        color: #000;
        font-family: $font-noto-bold;
        line-height: $font-medium * 2;
        margin-bottom: $space-smaller;
        padding-bottom: $space-small - 5;
        border-bottom: 1px dashed #d7d7d7;
        letter-spacing: -1px;
        @media #{$tabletDown} {
            font-size: $font-medium;
            line-height: $font-medium + 2;
        }
    }
    .view-detail {
        display: inline-block;
        width: 100%;
        margin-bottom: $space-smaller;
        padding-bottom: $space-smaller;
        border-bottom: 1px dashed #d7d7d7;
        .view-left {
            float: left;
            display: inline-flex;
            margin-top: 5px;
            span {
                font-size: $font-small;
                color: #808080;
                margin-right: $space-small;
                line-height: $space-small + 2;
                i {
                    font-size: $font-nomal;
                    margin-right: $space-smaller / 2;
                }
                &.views {
                    i {
                        color: $red;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .like-share {
            float: right;
        }
    }
    .sapo_detail {
        font-size: $font-medium - 2;
        color: #000;
        font-weight: $font-weight-bold;
        line-height: $space-small + 10;
        font-family: $font-noto-bold;
        margin-bottom: $space-small + 5;
        > span {
            background-color: $red;
            font-size: $font-small + 1;
            color: $white;
            font-family: $font-noto;
            padding: 0px 5px;
            font-weight: $font-weight-regular;
            line-height: $space-smaller + 3;
        }
    }
    .expNoEdit {
        margin-bottom: $space-small - 5;
        > img {
            width: 100%;
            max-width: 100%;
            text-align: center;
            height: auto;
        }
        figcaption {
            text-align: center;
            background-color: #f6f6f6;
            h2 {
                font-size: $font-small + 2;
                font-family: $font-lato;
                color: #3e3e3e;
                padding: 15px 0;
                border-bottom: 1px solid #e3deb6;
            }
        }
    }
    .detail-content {
        font-size: $font-nomal + 4;
        color: #3e3e3e;
        line-height: $space-small + 10;
        padding-bottom: $space-small;
        border-bottom: 1px dashed #d7d7d7;
        margin-bottom: $space-small;
        p {
            margin-bottom: $space-small;
            font-family: $font-noto;
            &:first-child {
                 &:first-letter {
                    font-size: $font-medium * 2 + 10;
                    color: $white;
                    position: relative;
                    background: url('../img/bg-first-letter.png') no-repeat center;
                    width: 79px;
                    height: 79px;
                    display: inline-block;
                    padding: 30px 35px;
                    float: left;
                    text-align: center;
                    line-height: 79px;
                }
            }
            strong {
                font-size: $font-medium - 2;
                color: #3e3e3e;
                font-weight: $font-weight-bold;
            }
        }
        .related-post-content {
            display: inline-block;
            width: 100%;
            float: left;
            // border-top: 3px solid #ebe9dd;
            margin-right: $space-small;
            margin-bottom: $space-small;
            border-bottom: 3px solid #ebe9dd;
            .item {
                padding: 5px 0 10px 5px;
                border-bottom: 0;
                &:first-child {
                    padding-top: $space-small - 2;
                }
                > a {
                    font-size: $font-nomal + 3;
                    color: #099ADB;
                    display: block;
                    position: relative;
                    padding-left: $space-smaller + 5;
                    font-family: $font-noto;
                    @media #{$tabletDown} {
                        font-size: $font-nomal + 2;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 5px;
                        height: 5px;
                        background-color: #999;
                        @include transform(-50%);
                    }
                    &:hover {
                        color: $red;
                    }
                }
                p {
                    font-size: $font-nomal - 3;
                    color: #808080;
                    line-height: $space-smaller + 1;
                    
                }
            }
        }
        .new_relation_post {
            padding: 10px 0;
            border-top: 1px dashed #d7d7d7;
            border-bottom: 1px dashed #d7d7d7;
            margin-bottom: $space-small - 5;
            > a {
                display: block;
                font-size: $font-nomal + 2;
                color: #000;
                position: relative;
                padding-left: $space-small * 2;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -4px;
                    width: $space-small + 10;
                    height: $space-small + 12;
                    background: url('../img/icon-new_relation_post.png') no-repeat center;
                }
                
                &:hover {
                    color: $red;
                }
            }
        }
    }

    .social-bottom {
        margin-bottom: $space-small - 5;
    }
    .list-tag {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dashed #d7d7d7;
        padding-bottom: $space-small - 5;
        margin-bottom: $space-smaller;
        > div {
            // float: left;
            &.title {
                font-size: $font-medium - 2;
                color: $red;
                text-transform: uppercase;
                font-family: $font-utm;
                margin-right: $space-small;
                line-height: $space-small + 6;
                margin-bottom: $space-smaller / 2;
                float: left;
            }
            &.name-tag {
                > a {
                    font-size: $font-small;
                    color: #000;
                    min-width: 76px;
                    height: 26px;
                    display: inline-block;
                    float: left;
                    text-align: center;
                    line-height: $space-small + 6;
                    margin: 0 3px;
                    position: relative;
                    padding: 0;
                    border-top: 1px solid rgba(217, 186, 141, 0.5);
                    border-bottom: 1px solid rgba(217, 186, 141, 0.5);
                    margin-right: $space-small + 10;
                    margin-bottom: $space-smaller;
                    &:before {
                        content: "";
                        position: absolute;
                        left: - ($space-smaller + 5);
                        background: url('../img/bg-tag-left-right.png') no-repeat 0 0;
                        top: -1px;
                        width: $space-smaller + 5;
                        height: $space-small + 6;
                        z-index: 2;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        right: - ($space-smaller + 5);
                        background: url('../img/bg-tag-left-right.png') no-repeat -65px 0;
                        top: -1px;
                        width: $space-smaller + 5;
                        height: $space-small + 6;
                        z-index: 2;
                    }
                    &:hover {
                        color: $red;
                    }
                    span {
                        color: $red;
                    }
                }
            }
        }
    }
}

.related {
    .list-related-post {
        .list-item-news-related-post {
            .item {
                .image {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 1px solid $red;
                }
                .content {
                    background-color: #f1f1f1;
                    padding: 10px;
                }
                h3 {            
                    font-size: $font-nomal + 2;
                    color: #373737;
                    font-family: $font-utm;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium - 2;     /* fallback */
                    max-height: $space-medium - 2;      /* fallback */
                    min-height: $space-medium - 2;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    @media #{$tabletDown} {
                        font-size: $font-medium - 2;
                        overflow: auto;
                        line-height: $space-small;
                        min-height: inherit;
                        max-height: inherit;
                    }
                }
                &:hover {
                    @include transition(0.2s ease-in);
                    .content {
                        background-color: $red;
                        @include transition(0.2s ease-in);
                        h3 {
                            color: $white;
                            @include transition(0.2s ease-in);
                        }
                    }
                }
            }
        }
        #related-post {
            position: relative;
            .control {
                position: absolute;
                top: -44px;
                right: $space-smaller + 5;
                z-index: 9;
                > a {
                    display: inline-block;
                    position: absolute;
                    height: $space-small + 10;
                    width: $space-small - 2;
                    text-align: center;
                    line-height: 30px;
                    color: #aaa;
                    font-size: $font-medium;
                    z-index: 2;
                    &.next {
                        left: 0;
                    }
                    &.prev {
                        right: 0;
                    }
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
    .latest-news-post {
        &.item-read-news {
            .list-item-latest-news-post {
                display: inline-block;
                width: 100%;
                .item {
                    width: calc(100% / 4 - 12px);
                    margin-right: $space-smaller + 5;
                    float: left;
                    &:last-child {
                        margin-right: 0;
                    }
                    @media #{$tabletDown} {
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
        }
        .list-item-latest-news-post {
            .item {
                .content {
                    background-color: #f1f1f1;
                    padding: 10px;
                }
                h3 {            
                    font-size: $font-nomal + 2;
                    color: #373737;
                    font-family: $font-utm;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium - 2;     /* fallback */
                    max-height: $space-medium - 2;      /* fallback */
                    min-height: $space-medium - 2;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                &:hover {
                    @include transition(0.2s ease-in);
                    .content {
                        background-color: $red;
                        @include transition(0.2s ease-in);
                        h3 {
                            color: $white;
                            @include transition(0.2s ease-in);
                        }
                    }
                }
            }
        }
        #news-latest-post {
            position: relative;
            .control {
                position: absolute;
                top: -44px;
                right: $space-smaller + 5;
                z-index: 9;
                > a {
                    display: inline-block;
                    position: absolute;
                    height: $space-small + 10;
                    width: $space-small - 2;
                    text-align: center;
                    line-height: 30px;
                    color: #aaa;
                    font-size: $font-medium;
                    z-index: 2;
                    &.next {
                        left: 0;
                    }
                    &.prev {
                        right: 0;
                    }
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}

