.highlight-event {
    background-color: $white;
    border-bottom: 1px solid $red;
    margin-bottom: $space-smaller + 5;
    .title {
        font-size: $font-medium - 2;
        color: $white;
        text-transform: uppercase;
        background-color: $red;
        font-family: $font-utm;
        padding: 3px 0 3px 10px;
    }
    .list-item {
        .item {
            padding: 10px 15px;
            position: relative;
            @include transition(all 0.3s ease-in);
            &:hover {
                &:after {
                    border-left: 1px solid $red;
                }
                a {
                    color: $red;
                }
            }
            &:before {
                content: "";
                position: absolute;
                left: 15px;
                bottom: 0;
                width: calc(100% - 30px);
                height: 1px;
                border-bottom: 1px solid #ebebeb;
                z-index: 1;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                @include transform(-50%);
                width: 1px;
                height: $space-small + 1;
                border-left: 1px solid #a2a2a2;
                z-index: 1;
            }
            a {
                font-size: $font-small + 1;
                position: relative;
                color: #000;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: $font-nomal + 2;     /* fallback */
                max-height: $space-medium + 10;      /* fallback */
                min-height: $space-medium + 10;      /* fallback */
                -webkit-line-clamp: 3; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
    }
}