.page-guess {
    #tab-page {
        list-style: none;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $red;
        margin-bottom: 0;
        > li {
            padding: 10px 20px;
            float: left;
            &.active {
                background-color: $red;
                border-radius: 5px 5px 0 0;
                > a {
                    color: $white;
                    text-transform: uppercase;
                }
            }
            > a {
                font-size: $font-nomal;
                color: #000;
                font-weight: $font-weight-bold;
                display: block;
            }
        }
    }
    > .content {
        background-color: #fffff7;
        border: 1px solid #e2e2d9;
        margin-top: -4px;
        padding: $space-smaller + 5;
        h3 {
            color: $red;
            margin-bottom: $space-smaller + 5;
            text-transform: uppercase;
            font-size: $font-nomal;
            font-weight: $font-weight-bold;
        }
        h4 {
            color: $red;
            margin-bottom: $space-smaller + 5;
            font-size: $font-nomal;
            font-weight: $font-weight-bold;
        }
        p {
            font-size: $font-nomal;
            color: #535353;
            line-height: $space-small + 6;
            margin-bottom: $space-medium;
            span {
                color: $red;
                font-weight: $font-weight-bold;
            }
        }
        li {
            font-size: $font-nomal;
            color: #535353;
            line-height: $space-small + 6;
            span {
                color: $red;
                font-weight: $font-weight-bold;
            }
        }
        ul {
            list-style: none;
            margin-bottom: $space-medium;
            & + p {
                margin-bottom: 0;
            }
        }

        &.content-tab {
            .title {
                background-color: #e1e0c8;
                font-weight: $font-weight-bold;
                color: $red;
                padding: 5px 0;
                text-align: center;
            }
            .table-tab {
                background-color: $white;
                margin-bottom: $space-smaller + 5;
                border: 1px solid #e1e0c8;
                .form-confirm {
                    text-align: center;
                    margin: $space-smaller;
                    display: inline-block;
                    width: 100%;
                    .form-group {
                        display: inline-block;
                        margin-bottom: 0;
                        width: 25%;
                        float: left;
                        padding: 0 10px;
                        label {
                            text-align: left;
                            float: left;
                            margin-bottom: $space-smaller / 2;
                            font-size: $font-small;
                        }
                        select {
                            width: 100%;
                            height: $space-small + 2;
                            line-height: $space-small + 2;
                            font-size: $font-small;
                            padding: 0;
                            text-align: center;
                            border-radius: 0;
                            box-shadow: none;
                            margin-right: $space-smaller / 2;
                            background-color: #fffff7;
                            // -webkit-appearance: none;
                        }
                        input {
                            width: 100%;
                            height: $space-small + 2;
                            line-height: $space-small + 2;
                            font-size: $font-small;
                            padding: $space-smaller / 2;
                            text-align: center;
                            border-radius: 0;
                            box-shadow: none;
                            margin-right: $space-smaller / 2;
                            background-color: #fffff7;
                        }
                        button {
                            padding: 0 15px;
                            color: $white;
                            background-color: $red;
                            text-shadow: none;
                            border-radius: 0;
                            box-shadow: none;
                            border: 0;
                            @include transition(all 0.3s ease-out);
                            border: 1px solid $red;
                            &:hover {
                                border: 1px solid $red;
                                color: $red;
                                background-color: $white;
                            }
                        }
                        &.button-submit {
                            margin-top: $space-small - 2;
                        }
                    }
                }
                table {
                    border: 0;
                    margin-bottom: 0;
                    tbody {
                        tr {
                            border-bottom: 1px solid #e1e0c8;
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                        th, td {
                            color: #000;
                            font-size: $font-small + 1;
                            font-weight: $font-weight-regular;
                            padding: 5px;
                            text-align: center;
                            border: 0;
                        }
                        .detail {
                            > a {
                                font-size: $font-small;
                                color: #000;
                                font-weight: $font-weight-regular;
                                &:hover {
                                    color: $red;
                                }
                            }
                        }
                        .btn-submit {
                            display: inline-block;
                            width: 100%;
                            float: none;
                            margin-top: $space-smaller / 2;
                            button {
                                padding: 0 15px;
                                color: $white;
                                background-color: $red;
                                text-shadow: none;
                                border-radius: 0;
                                box-shadow: none;
                                border: 0;
                                border: 1px solid $red;
                                @include transition(all 0.3s ease-out);
                                &:hover {
                                    border: 1px solid $red;
                                    color: $red;
                                    background-color: $white;
                                }
                            }
                        }
                        .team-match {
                            // display: table;
                            margin: 0 auto;
                            > div {
                                display: table-cell;
                                vertical-align: middle;
                                width: 45%;
                                @media #{$tabletDown} {
                                    width: 120px;
                                    text-align: center !important;
                                    display: inline-block;
                                }
                            }
                            .team {
                                .image {
                                    width: $space-small + 5;
                                    margin-top: $space-smaller - 7;
                                }
                                .content {
                                    font-size: $font-nomal;
                                    color: #000;
                                    white-space: nowrap;
                                    @media #{$tabletDown} {
                                        white-space: inherit;
                                    }
                                }
                                .form-input {
                                    width: $space-small + 7;
                                    float: right;
                                    input {
                                        width: 100%;
                                        height: $space-small;
                                        line-height: $space-small;
                                        font-size: $font-small;
                                        padding: $space-smaller / 2;
                                        text-align: center;
                                        border-radius: 0;
                                        box-shadow: none;
                                        background-color: #fffff7;
                                    }
                                }
                                &.team-left {
                                    text-align: right;
                                    .image {
                                        float: right;
                                        margin-left: $space-smaller;
                                        margin-right: $space-smaller + 5;
                                        @media #{$tabletDown} {
                                            margin: 0 auto;
                                            margin-bottom: $space-smaller / 2;
                                            float: none;
                                        }
                                    }
                                    .content {
                                        // float: left;
                                    }
                                }
                                &.team-right {
                                    text-align: left;
                                    .image {
                                        float: left;
                                        margin-right: 10px;
                                        @media #{$tabletDown} {
                                            margin: 0 auto;
                                            margin-bottom: $space-smaller / 2;
                                            float: none;
                                        }
                                    }
                                    .content {
                                        // float: right;
                                    }
                                    .form-input {
                                        float: left;
                                        margin-right: $space-smaller + 5;
                                    }
                                }
                                &.center {
                                    padding: 0 10px;
                                    width: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-mqc {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        z-index: 9999;
        width: 50%;
        left: 50%;
        @include transformXY(-50%, -50%);
        &.active {
            opacity: 1;
            visibility: visible;
            &.closed {
                opacity: 0;
                visibility: hidden;
            }
        }
        .modal-dialog {
            top: 30%;
            @include transform(-0%);
        }
        .modal-title {
            margin-bottom: 0;
            font-size: $font-medium - 2;
        }
        .modal-content {
            h5 {
                font-size: $font-nomal + 2;
                margin-bottom: $space-smaller;
                span {
                    font-size: $font-nomal + 4;
                    color: $red;
                    font-family: $font-utm;
                    text-transform: uppercase;
                }
            }
            p {
                font-size: $font-nomal;
                margin-bottom: 0;
                span {
                    font-size: $font-nomal + 4;
                    color: $red;
                    font-family: $font-utm;
                    text-transform: uppercase;
                }
            }
        }
        .modal-footer {
            text-align: center;
        }
    }
}

body {
    &.popup {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,0.4);
            z-index: 1000;
            width: 100%;
            height: 100%;
        }
        
    }
}
