.wrap-main-content {
    .hot-box {
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: row;
        @media #{$tabletDown} {
            width: 100%;
            display: inline-block;
        }
        width: 100%;
        margin-bottom: $space-smaller + 5;
        > div {
            // display: inline-block;
            float: left;
            &.hot-box-center {
                width: calc(100% - 385px);
                flex: auto;
                background-color: #2b2b2b;
                @media #{$tabletDown} {
                    width: 100%;              
                }
            }
            &.hot-box-right {
                width: 270px;
                @media #{$tabletDown} {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
.list-item-schedul {
    .item {
        background: url('../img/pattern-schedul.png') center center;
        background-size: cover;
        display: inline-block;
        width: 100%;
        border-radius: 3px;
        padding: 3px;
        margin-bottom: $space-smaller - 3;
        .title {
            text-align: center;
            h3 {
                font-weight: $font-weight-regular;
                color: $gray;
                font-size: $font-small;
                text-transform: uppercase;
                padding-top: $space-smaller - 7;
            }
            p {
                font-weight: $font-weight-regular;
                color: $gray;
                font-size: $font-small - 2;
                text-transform: uppercase;
                border-bottom: 1px dashed $gray;
                padding-bottom: $space-smaller / 2;
                margin-bottom: $space-smaller;
            }
        }
        .group-item {
            > div {
                text-align: center;
                width: 50%;
                float: left;
                p {
                    font-size: $font-small - 2;
                    color: #000;
                    font-family: $font-roboto;
                    text-transform: uppercase;
                }
            }
            .ensign {
                max-width: $space-small + 10;
                margin: 0 auto;
                margin-bottom: $space-smaller - 4;
            }
        }
    }
    .view-all {
        margin-bottom: 5px;
    }
}
.hot-box-left {
    width: 115px;
    background-color: $primary-color;
    padding: $space-smaller - 3;
    .schedul {
        text-align: center;
        h2 {
            font-family: $font-utm;
            font-size: $font-medium - 4;
            color: $white;
            text-transform: uppercase;
            margin-bottom: $space-smaller;
            margin-top: 4px;
        }
    }
}

#slide-hot {
    position: relative;
    height: 100%;
    // .control {
    //     > a {
    //         position: absolute;
    //         font-size: 40px;
    //         top: 35%;
    //         @include transform(-35%);
    //         width: 20px;
    //         height: 45px;
    //         z-index: 2;
    //         &.next {
    //             right: 15px;
    //             &:before {
    //                 position: absolute;
    //                 content: "";
    //                 width: 19px;
    //                 height: 45px;
    //                 background: url('../img/next-prev-hot.png') 19px 0;
    //                 right: 0;
    //                 top: 0;
    //             }
    //         }
    //         &.prev {
    //             left: 15px;
    //             &:before {
    //                 position: absolute;
    //                 content: "";
    //                 width: 19px;
    //                 height: 45px;
    //                 background: url('../img/next-prev-hot.png') 0 0;
    //                 right: 0;
    //                 top: 0;
    //             }
    //         }
    //     }
    // }
    .control {
        position: absolute;
        top: 35%;
        @include transform(-35%);
        z-index: 9;
        display: inline-block;
        width: 100%;
        > a {
            display: inline-block;
            position: absolute;
            height: $space-small + 10;
            width: $space-small - 2;
            text-align: center;
            line-height: 30px;
            color: $white;
            font-size: $font-medium * 3;
            z-index: 2;
            &.next {
                right: $space-smaller + 5;
            }
            &.prev {
                left: $space-smaller + 5;
            }
            &:hover {
                color: $red;
            }
        }
    }
    .list-item-hot {
        height: 100%;
        > div {
            height: 100%;
            > div {
                height: 100%;
                > div {
                    height: 100%;
                }
            }
        }
        .item-hot {
            height: 100%;
            &:hover {
                background-color: $red;
                .image {
                    &:before {
                        opacity: 0.5;
                    }
                }
                .content {
                    border-bottom: 0;
                    background-color: $red;
                }
            }
            .image {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $red;
                    opacity: 0;
                    @include transition(0.2s ease-out);
                    z-index: 1;
                }
            }
            .content {
                background-color: #2b2b2b;
                padding: 13px 14px;
                border-bottom: 1px solid #2b2b2b;
                // border-top: 0;
                h3 {
                    font-size: $font-medium + 4;
                    color: $white;
                    margin-bottom: $space-smaller;
                    font-family: $font-utm;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium + 6;     /* fallback */
                    max-height: $space-small + 6;      /* fallback */
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                p {
                    font-size: $font-small + 1;
                    color: $white;
                    line-height: $space-smaller + 7;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-nomal + 3;     /* fallback */
                    max-height: $space-medium - 4;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}

.hot-box-right {
    background-color: $white;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.39);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.39);
    border-bottom: 1px solid $red;
    .news-hot {
        h2 {
            font-family: $font-utm;
            font-size: $font-medium - 2;
            line-height: $space-small + 6;
            color: $primary-color;
            text-transform: uppercase;
            margin-bottom: $space-smaller;
            border-bottom: 1px solid #dbdbdb;
            padding-left: $space-smaller;
            padding-top: $space-smaller - 3;
        }
    }
    .list-news-hot {
        padding: 0 10px;
        .item-news-hot {
            display: inline-block;
            width: 100%;
            margin-bottom: $space-smaller - 2;
            .image {
                float: left;
                margin-right: $space-smaller;
                width: $space-bigger - 5;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $red;
                    opacity: 0;
                    z-index: 1;
                    @include transition(0.2s ease-out);
                }
                > div {
                    max-width: $space-bigger - 5;
                }
            }
            .content {
                .title {
                    font-size: $font-nomal + 2;
                    color: #000;
                    font-family: $font-utm;
                    margin-top: -($space-smaller / 2 - 2);
                    margin-bottom: 4px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-nomal + 2;     /* fallback */
                    max-height: $space-medium - 6;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    @media #{$tabletDown} {
                        @include line-overflow(20px, 20px, 2);
                    }
                }
                .detail {
                    span {
                        font-size: $font-small - 2;
                        color: #aaa;
                        margin: 0 4px;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            &:hover {
                .image {
                    &:before {
                        opacity: 0.5;
                        @include transition(0.3s ease-in);
                    }
                }
                .content {
                    .title {
                        color: $red;
                        @include transition(0.2s ease-in);
                    }
                }
            }
        } 
    }
}
.box-guess-result {
    margin-bottom: $space-smaller + 5;
    > div  {
        float: left;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background-color: #ffde00;
            left: 0;
            height: $space-small * 3;
            bottom: 30px;
            width: 100%;
        }
    }
    background: url('../img/home/bg-box-guess-result.jpg') no-repeat;
    height: 190px;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.65);
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.65);
    
}
.guess-result {
    position: relative;
    .box-guess-result {
        > div {
            height: 100%;
        }
    }
    .item-left {
        width: 30%;
        text-align: right;
        .logo-group {
            text-align: center;
            display: inline-block;
            right: 0;
            z-index: 1;
        }
    }
    .item-center {
        text-align: center;
        width: 40%;
        padding-top: 37px;
        h2 {
            font-size: $font-medium + 4;
            color: #ffde00;
            font-family: $font-oswaldvnf;
        }
        .tournament {
            font-size: $font-medium - 2;
            color: $white;
            font-family: $font-oswaldvnf;
            display: inline-block;
            background-color: #0039a6;
            position: relative;
            padding: 8px 20px;
            margin-bottom: $space-smaller / 2;
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 37px solid #0039a6;
                border-left: 25px solid transparent;
                left: -25px;
                bottom: 0;
            }
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 37px solid #0039a6;
                border-right: 25px solid transparent;
                right: -25px;
                bottom: 0;
            }
        }
        .date-time {
            margin: 0 auto;
            display: inline-block;
            width: 100%;
            .time {
                font-size: $font-medium + 2;
                color: #ffde00;
                font-family: $font-utm;
                padding: 10px 20px;
                background-color: #000;
                border-radius: 20px;
                position: relative;
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
    .item-right {
        width: 30%;
    }

    .logo-group {
        background: url('../img/home/bg-logo-group.png') no-repeat;
        width: 121px;
        height: 117px;
        padding: 20px;
        text-align: center;
        position: absolute;
        > div  {

        }
    }
    .name-group {
        font-size: $font-medium;
        color: #000;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        position: relative;
        margin-top: 117px;
    }
}

.news-latest {
    .list-news-latest {
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: row;
        @media #{$tabletDown} {
            display: inline-block;
            width: 100%;
        }
        > div {
            // float: left;
            flex: 1 2 1;
            &.news-left {
                width: 25%;
                padding: 0 15px;
                @media #{$tabletDown} {
                    width: 100%;
                    max-width: 100%;
                    display: none;
                }
                .item-list-news {
                    text-align: right;
                }
            }
            &.news-center {
                width: 50%;
                margin-top: $space-smaller / 2;
                @media #{$tabletDown} {
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: $space-smaller;
                }
                .content {
                    font-size: $font-medium + 2;
                    color: $white;
                    font-family: $font-utm;
                    background-color: $red;
                    padding: 8px 10px;
                    line-height: $space-small + 2;
                    text-align: center;
                    @include transition(0.3s ease-out);
                    @include line-overflow(22px, 22px, 2);
                    min-height: 60px;
                    max-height: 60px;
                }
                &:hover {
                    .content {
                        background-color: $white;
                        color: $red;
                        @include transition(0.3s ease-in);
                        border-left: 1px solid $red;
                        border-right: 1px solid $red;
                    }
                }
            }
            &.news-right {
                width: 25%;
                padding: 0 15px;
                @media #{$tabletDown} {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .item-list-news {
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: $space-smaller;
            &:hover {
                .title {
                    color: $red;
                    @include transition(0.2s ease-in);
                }
            }
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }
            .title {
                font-size: $font-medium - 2;
                color: #000;
                font-family: $font-utm;
                margin-bottom: $space-smaller - 2;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: $font-medium;     /* fallback */
                max-height: $space-medium;      /* fallback */
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            .content {
                color: #686868;
                font-size: $font-nomal - 1;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: $font-nomal + 2;     /* fallback */
                max-height: $space-medium - 6;      /* fallback *
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                margin-bottom: $space-smaller;
            }
        }
    }
}

.team-history {
    > .title {
        margin-bottom: $space-smaller;
    }
    .view-more {
        float: right;
        padding: 8px 15px 8px 0;
        > a {
            font-size: $font-small;
            color: #3a3a3a;
            font-weight: $font-weight-medium;
            display: block;
            svg {
                font-size: $font-medium - 2;
                color: $red;
                display: inline-block;
                float: right;
                margin-left: $space-smaller - 2;
                margin-top: -2px;
            }
            &:hover {
                color: $red;
                @include transition(0.2s ease-in);
                svg {
                    color: #3a3a3a;
                    @include transition(0.2s ease-in);
                }
            }
        }
    }
    .list-team {
        padding: 0 15px;
        display: inline-block;
        width: 100%;
        .item-team {
            width: calc(100% / 6 - 12px);
            float: left;
            margin: $space-smaller - 3;
            > a {
                display: block;
            }
            
            &:nth-child(1) {
                margin-left: 0;
            }
            &:nth-child(7) {
                margin-left: 0;
            }
            &:nth-child(13) {
                margin-left: 0;
            }
            &:nth-child(6n) {
                margin-right: 0;
            }
            @media #{$tabletDown} {
                width: calc(100% / 4 - 11px);
                margin-bottom: 0;
                &:nth-child(4n) {
                    margin-right: 0;
                }
                &:nth-child(5n) {
                    margin-left: 0;
                }
                &:nth-child(6n) {
                    margin-right: 7px;
                }
                &:nth-child(7) {
                    margin-left: 7px;
                }
                &:nth-child(9) {
                    margin-left: 0;
                }
                &:nth-child(10) {
                    margin-left: 7px;
                }
                &:nth-child(12) {
                    margin-right: 0;
                }
                &:nth-child(15) {
                    margin-left: 7px;
                }
                &:last-child {
                    display: none;
                }
                &:nth-last-child(2) {
                    display: none;
                }
            }
            p {
                color: #3a3a3a;
                font-weight: $font-weight-medium;
                font-size: $font-nomal;
                text-align: center;
                @media #{$tabletDown} {
                    font-size: $font-small;
                    min-height: $space-smaller * 3;
                }
            }
            .image {
                margin-bottom: $space-smaller / 2;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $red;
                    opacity: 0;
                    z-index: 1;
                    border-radius: 4px;
                    @include transition(0.4s ease-in);
                }
                > div {
                    border-radius: 4px;
                }
            }
            &:hover {
                p {
                    color: $red;
                    @include transition(0.2s ease-in);
                }
                .image {
                    &:before {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}

.statistic {
    // display: inline-block;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: $space-smaller + 5;
    @media #{$tabletDown} {
        display: inline-block;
        width: 100%;
    }
    .statistic-left {
        background-color: #9e010e;
        padding: 15px;
        max-width: 290px;
        float: left;
        border-bottom: 1px solid $red;
        flex: auto;
        @media #{$tabletDown} {
            width: 100%;
            max-width: 100%;
        }

        &:hover {
            .content {
                h3 {
                    text-decoration: underline;
                    @include transition(0.2s ease-in);
                }
            }
        }
        .title {
            font-size: $font-nomal + 2;
            color: $white;
            font-family: $font-oswaldvnf;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            text-transform: uppercase;
            margin-bottom: $space-small + 5;
        }
        .content {
            a {
                display: block;
                height: 100%;
            }
            h3 {
                font-size: $font-medium + 4;
                color: $white;
                line-height: $space-small + 8;
                font-family: $font-utm;
                position: relative;
                margin-bottom: $space-small - 5;
            }
            p {
                font-size: $font-nomal;
                color: $white;
                line-height: $space-small;
            }
        }
    }
    .statistic-right {
        width: calc(100% - 290px);
        // flex: auto;
        display: inline-block;
        border-bottom: 1px solid $red;
        @media #{$tabletDown} {
            width: 100%;
        }
        .content {
            background-color: #1a0404;
            padding: 15px 0;
            text-align: center;
            @include transition(0.4s ease-in);
            h3 {
                color: $white;
                font-size: $font-medium + 4;
                font-family: $font-utm;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: $font-medium + 4;     /* fallback */
                max-height: $space-small + 4;      /* fallback */
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
        .item-statistic {
            .image {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $red;
                    opacity: 0;
                    z-index: 1;
                    @include transition(0.4s ease-in);
                }
            }
            &:hover {
                .content {
                    background-color: $red;
                }
                .image {
                    &:before {
                        opacity: 0.5;
                    }
                }
            }
        }
        #slider-statistic {
            position: relative;
            .control {
                position: absolute;
                top: 35%;
                @include transform(-35%);
                z-index: 9;
                display: inline-block;
                width: 100%;
                > a {
                    display: inline-block;
                    position: absolute;
                    height: $space-small + 10;
                    width: $space-small - 2;
                    text-align: center;
                    line-height: 30px;
                    color: $white;
                    font-size: $font-medium * 3;
                    z-index: 2;
                    &.next {
                        right: $space-smaller + 5;
                    }
                    &.prev {
                        left: $space-smaller + 5;
                    }
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}

.beside {
    .box-beside {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media #{$tabletDown} {
            display: inline-block;
            width: 100%;
            flex-direction: inherit;
            justify-content: normal;
            > div {
                margin-bottom: $space-smaller + 5;
                display: inline-block;
                width: 100%;
                > div {
                    margin-bottom: $space-smaller + 5;
                }
            }
        }
    }
    .box-beside-left {
        width: calc(100% - 290px);
        padding: 0 7px;
        flex: auto;
        @media #{$tabletDown} {
            width: 100%;
            margin-bottom: $space-smaller;
        }
        .item {
            width: calc(50% - 14px);
            float: left;
            margin: 0 7px;
            height: 100%;
            @media #{$tabletDown} {
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .image {
                margin-bottom: $space-smaller + 4;
            }
            .content {
                padding: 0 10px;
                h3 {
                    font-size: $font-nomal + 4;
                    line-height: $font-nomal + 6;
                    color: #000;
                    margin-bottom: 10px;
                    position: relative;
                    font-family: $font-utm;
                }
                p {
                    font-size: $font-nomal - 1;
                    color: #464646;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium;     /* fallback */
                    max-height: $space-big - 16;      /* fallback */
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    margin-bottom: $space-smaller;
                }
            }
            &:hover {
                .content {
                    h3 {
                        color: $red;
                        @include transition(0.2s ease-in);
                        &:before {
                            border-bottom: 1px solid #000;
                        }
                    }
                    p {
                        color: $red;
                        @include transition(0.2s ease-in);
                    }
                }
            }
            &.item-red-color {
                background-color: $red;
                .image {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                        width: 100%;
                        height: 50px;
                        background: url('../img/home/box-shadow-beside.png') no-repeat center;
                    }
                }
                .content {
                    padding: 0 10px;
                    position: relative;
                    h3 {
                        color: $white;
                        &:before {
                            border-bottom: 1px solid $white;
                        }
                    }
                    p {
                        color: $white;
                    }
                }
                &:hover {
                    .content {
                        h3 {
                            color: #000;
                            @include transition(0.2s ease-in);
                            &:before {
                                border-bottom: 1px solid #000;
                            }
                        }
                        p {
                            color: #000;
                            @include transition(0.2s ease-in);
                        }
                    }
                }
            }
        }
    }
    .box-beside-right {
        width: 290px;
        float: right;
        padding-right: 14px;
        @media #{$tabletDown} {
            width: 100%;
            padding: 0 7px;
        }
        .item-box-beside {
            background-color: #f8efe2;
            display: inline-block;
            width: 100%;
            margin-bottom: $space-smaller - 2;
            padding: 14px 13px 13px 15px;
            position: relative;
            @include transition(all 0.4s ease-in);
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: $space-smaller / 2;
                border-left: 4px solid $red;
            }
            > a {
                font-size: $font-nomal + 4;
                color: #000;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                font-family: $font-utm;
                line-height: $font-nomal + 6;     /* fallback */
                max-height: $space-medium + 20;      /* fallback */
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            &:hover {
                background-color: $red;
                @include transition(all 0.3s ease-in);
                > a {
                    color: $white;
                    @include transition(all 0.3s ease-in);
                }
            }
        }
    }
} 

.picture {
    // background-color: #000;
    .title {
        margin-bottom: 0;
    }
}
.box-picture {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    @media #{$tabletDown} {
        display: inline-block;
        width: 100%;
    }
    > div {
        // float: left;
    }
    .box-picture-left {
        width: calc(100% - 295px);
        position: relative;
        flex: auto;
        @media #{$tabletDown} {
            width: 100%;
        }
        .list-item-picture {
            height: 100%;
        }
        .box-btn-info {
            position: absolute;
            background-color: $red;
            display: inline-block;
            bottom: 88px;
            z-index: 3;
            right: 0;
            > div {
                font-size: $font-nomal;
                color: $white;
                float: left;
                padding: 8px;
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                &:last-child {
                    display: none;
                    border-right: 0;
                    &:hover {
                        background-color: $white;
                        > a {
                            color: $red;
                        }
                    }
                }
                &:nth-last-child(2) {
                    padding: 8px 12px;
                    cursor: pointer;
                    &:hover {
                        background-color: $white;
                        color: $red;
                    }
                }
                > a {
                    padding: 0 $space-smaller - 2;
                    display: block;
                    color: $white;
                }
                i {
                    font-size: $font-medium - 3;
                }
            }
        }
        #show-image-slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
            background-color: $red;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s fadeOut);
            &.show-all {
                opacity: 1;
                visibility: visible;
            }
            .btn-close-show {
                font-size: $font-nomal;
                background-color: $white;
                border-radius: 50%;
                display: inline-block;
                width: $space-small;
                height: $space-small;
                text-align: center;
                float: right;
                margin: 10px 15px 0;
                > i {
                    font-size: $font-nomal;
                    line-height: $space-small;
                }
                &:hover {
                    background-color: $red;
                    color: $white;
                    border: 1px solid $white;
                    cursor: pointer;
                }
            }
            .list-view-picture {
                padding: 7px;
                padding-top: $space-smaller;
                display: inline-block;
                width: 100%;
                .item {
                    margin: 0 7px;
                    width: calc(100% / 4 - 14px);
                    float: left;
                    margin-bottom: $space-smaller;
                    .image {
                        margin-bottom: $space-smaller / 2;
                        position: relative;
                    }
                    p {
                        font-size: $font-nomal + 2;
                        color: $white;
                        font-family: $font-utm;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: $font-medium - 2;     /* fallback */
                        max-height: $space-medium - 2;      /* fallback */
   
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }
                    &:hover {
                        .image {
                            &:before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: #000;
                                opacity: 0.4;
                                @include transition(0.2s ease-in);
                                z-index: 1;
                            }
                        }
                        p {
                            color: #000;
                        }
                    }
                }
            }
        }
        #slider-picture {
            position: relative;
            height: 100%;
            background-color: #000;
            .control {
                position: absolute;
                top: 35%;
                @include transform(-35%);
                z-index: 9;
                display: inline-block;
                width: 100%;
                > a {
                    display: inline-block;
                    position: absolute;
                    height: $space-small + 10;
                    width: $space-small - 2;
                    text-align: center;
                    line-height: 30px;
                    color: $white;
                    font-size: $font-medium * 3;
                    z-index: 2;
                    &.next {
                        right: $space-smaller + 5;
                    }
                    &.prev {
                        left: $space-smaller + 5;
                    }
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
        .item-picture {
            .content {
                background-color: #000;
                padding: 16px 24px;
                // height: 90px;
                h3 {
                    font-size: $font-medium + 6;
                    color: $white;
                    font-family: $font-utm;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium + 8;     /* fallback */
                    max-height: $space-medium + 18;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
            .image {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: $space-smaller + 3;
                    top: $space-small;
                    width: $space-medium + 1;
                    height: $space-medium - 7;
                    background: url('../img/home/icon-image.png') no-repeat center;
                    z-index: 2;
                }
            }
            &:hover {
                .image {
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $red;
                        opacity: 0.7;
                        z-index: 1;
                        @include transition(0.2s ease-in);
                    }
                }
                .content {
                    background-color: $white;
                    color: $red;
                    @include transition(0.2s ease-in);
                    h3 {
                        color: $red;
                    }
                }
            }
        }
    }
    .box-picture-right {
        background-color: #383838;
        width: 295px;
        padding: 14px 8px;
        @media #{$tabletDown} {
            width: 100%;
        }
        .list-item-picture {
            display: inline-block;
            width: 100%;
            .item {
                width: calc(50% - 14px);
                margin: 0 7px 14px 7px;
                float: left;
                &:nth-child(2n + 1) {
                    clear: left;
                }
                @media #{$tabletDown} {
                    width: 50%;
                    margin: 0;
                    padding: $space-smaller;
                }
                .image {
                    margin-bottom: $space-smaller;
                    position: relative;
                }
                p {
                    font-size: $font-nomal + 2;
                    color: $white;
                    font-family: $font-utm;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium - 2;     /* fallback */
                    max-height: $space-medium - 2;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                &:nth-last-child(2) {
                    margin-bottom: 0px;
                }
                &:hover {
                    .image {
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $red;
                            opacity: 0.7;
                            z-index: 1;
                            @include transition(0.2s ease-in);
                        }
                    }
                    p {
                        color: $red;
                        @include transition(0.2s ease-in);
                    }
                }
            }
        }
    }
}

.video {
    border-bottom: 0;
    .box-item-video {
        margin: 15px;
        border: 1px solid #e7c99f;
        padding: 15px;
        &.box-picture {
            .box-picture-left {
                .item-picture {
                    .image {
                        &:before {
                            background: none;
                        }
                    }
                }
            } 
        }
        .item-video {
            margin-bottom: $space-small;
            > a {
                display: inline-block;
                width: 100%;
                position: relative;
            }
            &:hover {
                .image {
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        opacity: 0.3;
                        @include transition(0.2s ease-in);
                    }
                    .btn-play {
                        color: $red;
                        z-index: 2;
                        @include transition(0.2s ease-in);
                    } 
                }  
            }
            background-color: #19191b;
            padding: 15px;
            .content {
                text-align: center;
                font-size: $font-medium + 6;
                color: $white;
                font-family: $font-utm;
                padding: 24px 0 20px;
                @media #{$tabletDown} {
                    font-size: $font-medium;
                    padding: $space-smaller;
                }
            }
            .image {
                position: relative;
                .btn-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transformXY(-50%, -50%);
                    color: $white;
                    font-size: $font-medium + 10;
                    font-family: $font-utm;
                    text-transform: uppercase;
                    &:before {
                        content: "";
                        position: absolute;
                        top: -6px;
                        left: -42px;
                        width: 156px;
                        height: 49px;
                        background: url('../img/home/border-btn-play.png') no-repeat center;
                        z-index: -1;
                    }
                }
            }
        }
        .more-video {
            > a {
                font-size: $font-medium - 2;
                color: $red;
                margin-bottom: $space-smaller / 2 + 2;
                &:hover {
                    color: #19191b;
                    @include transition(0.2s ease-in);
                }
            }
            
        }
    }
    #slider-video {
        position: relative;
        height: 100%;
        background-color: #000;
        .control {
            position: absolute;
            top: 35%;
            @include transform(-35%);
            z-index: 9;
            display: inline-block;
            width: 100%;
            > a {
                display: inline-block;
                position: absolute;
                height: $space-small + 10;
                width: $space-small - 2;
                text-align: center;
                line-height: 30px;
                color: $white;
                font-size: $font-medium * 3;
                z-index: 2;
                &.next {
                    right: $space-smaller + 5;
                }
                &.prev {
                    left: $space-smaller + 5;
                }
                &:hover {
                    color: $red;
                }
            }
        }
    }
}

.guess {
    .box-guess {
        padding: 0 15px;
        .box-guess-top {
            position: relative;
            // padding: 15px;
            display: inline-block;
            width: 49%;
            float: left;
            &:hover {
                .image {
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        opacity: 0.3;
                        @include transition(0.2s ease-in);
                        z-index: 1;
                    }
                }
                .content {
                    z-index: 2;
                    h3 {
                        color: $red;
                        @include transition(0.2s ease-in);
                    }
                    p {
                        color: $red;
                        opacity: 0.8;
                        @include transition(0.2s ease-in);
                    }
                }
            }
            .image {
                width: 100%;
                position: relative;
                @include transition(0.2s ease-out);
                @media #{$tabletDown} {
                    width: 100%;
                }
            }
            .content {
                width: 100%;
                background-color: $white;
                display: inline-block;
                right: 0;
                padding: 17px 17px 17px 0;
                height: calc(100% - 50px);
                @media #{$tabletDown} {
                    position: relative;
                    width: 100%;
                }
                h3 {
                    font-size: $font-medium + 6;
                    color: #000;
                    position: relative;
                    font-family: $font-utm;
                    margin-bottom: 5px;
                    padding-bottom: $space-smaller;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium + 8;     /* fallback */
                    max-height: $space-medium + 16;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                p {
                    font-size: $font-medium - 6;
                    color: #000;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium - 2;     /* fallback */
                    max-height: $space-medium + 14;      /* fallback */
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
        }
        .box-guess-bot {
            width: 49%;
            float: right;
            .list-item-guess {
                padding: 0;
                .item-guess {
                    width: 100%;
                    display: inline-block;
                    margin-bottom: $space-smaller;
                    position: relative;
                    @media #{$tabletDown} {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        &:last-child {
                            display: none;
                        }
                    }
                    &:hover {
                        .image {
                            &:before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background-color: $red;
                                opacity: 0.6;
                                @include transition(0.2s ease-in);
                                z-index: 1;
                            }
                        }
                        p {
                            color: $red;
                        }
                    }
                    .image {
                        margin-bottom: $space-smaller / 2;
                        position: relative;
                        width: 120px;
                        float: left;
                        margin-right: $space-smaller;
                    }
                    .content {
                        // float: left;
                        > div {
                            width: auto;
                            display: block;
                        }
                    }
                    p {
                        font-size: $font-medium - 2;
                        color: #000;
                        font-family: $font-utm;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: $font-medium + 2;     /* fallback */
                        max-height: $space-medium + 26;      /* fallback */
   
                        -webkit-line-clamp: 3; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        @media #{$tabletDown} {
                            max-height: inherit;
       
                        }
                    }
                }
            }
        }
    }
}

@media #{$tablet} {
    .guess {
        .box-guess {
            .box-guess-bot {
                .list-item-guess {
                    .item-guess {
                        // width: calc(100% / 4 - 13px);
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }   
    }
}

@media #{$tabletDown} {
    .guess {
        .box-guess {
            .box-guess-top {
                width: 100%;
            }
            .box-guess-bot {
                width: 100%;
                .list-item-guess {
                    .item-guess {
                        width: 100%;
                        margin-bottom: $space-smaller / 2;
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }   
    }
    #slide-hot {
        margin-bottom: $space-smaller + 5;
    }
    .hot-box-left {
        width: 100%;
        margin-bottom: $space-small - 5;
    }
    .list-item-schedul {
        .item {
            border-radius: $space-smaller;
            width: 48%;
            margin: 0 1%;
            float: left;
            margin-bottom: $space-small;
            &:last-child {
                display: none;
            }
            &:nth-last-child(2) {
                display: none;
            }
        }
        .view-all {
            display: inline-block;
            width: 100%;
        }
    }
    .guess-result {
        .logo-group {
            width: $space-bigger;
            background-size: cover;
            height: auto;
            top: $space-smaller;
            img {
                max-height: $space-small * 3;
            }
        }
        .item-center {
            padding-top: $space-medium + 6;
            h2 {
                font-size: $font-medium;
            }
            .tournament{
                font-size: $font-nomal;
                &:before {
                    border-bottom: 32px solid #0039a6;
                }
                &:after {
                    border-bottom: 32px solid #0039a6;
                }
            }
            .date-time .time {
                font-size: $font-small;
            }
        }
        .name-group {
            font-size: $font-small;
        }
    } 
    .box-picture .box-picture-left {
        #slider-picture .control {
            top: 20%;
            @include transform(-35%);
        }
        .box-btn-info {
            bottom: 126px;
        }
    } 

}
@media #{$mobileUp} {
    .box-picture .box-picture-left {
        .box-btn-info {
            bottom: 90px;
        }
    } 
}


#advLeft {
    &.absoluteAdvHome {
        top: 337px;
    }
}
#advRight {
    &.absoluteAdvHome {
        top: 337px;
    }
}