.page-identify {
    .highlight {
        background-color: #ffe1b7;
        border-radius: 5px;
        padding: $space-smaller;
        margin-bottom: $space-smaller + 5;
        .title {
            font-size: $font-medium - 2;
            color: $red;
            font-family: $font-utm;
            text-transform: uppercase;
            margin-bottom: $space-smaller - 2;
        }
        .list-item-highlight {
            display: inline-block;
            width: 100%;
            .item {
                width: calc(50% - 13px);
                float: left;
                display: inline-block;
                padding-bottom: $space-smaller;
                border-bottom: 1px dashed #c0a47c;
                margin-right: $space-small + 5;
                margin-bottom: $space-smaller;
                &:nth-child(2n) {
                    margin-right: 0;
                }
                a {
                    font-size: $font-small + 1;
                    color: #000;
                    font-weight: $font-weight-bold;
                    @include transition(all 0.3s ease-in);
                    padding-left: $space-smaller;
                    border-left: 2px solid $red;
                    display: inline-block;
                }
                &:last-child {
                    margin-bottom: 0;
                    border-bottom: 0;
                    padding-bottom: 0;
                }
                &:nth-last-child(2) {
                    margin-bottom: 0;
                    border-bottom: 0;
                    padding-bottom: 0;
                }
                &:hover {
                    a {
                        color: $red;
                        border-left: 2px solid #000;
                    }
                }
            }
        }
    }
    .list-item-news-latest {
        display: inline-block;
        width: 100%;
        margin-bottom: $space-small;
        > .item {
            display: inline-block;
            width: calc(100% / 3 - 12px);
            margin-right: $space-smaller + 4;
            background-color: $white;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                .image {
                    &:after {
                        opacity: 0.4;
                    }
                }
                .content {
                    h3 {
                        color: $red;
                    }
                }
            }
            .image {
                position: relative;
                margin-bottom: $space-smaller;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    z-index: 1;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $red;
                    opacity: 0;
                    z-index: 1;
                    @include transition(all 0.5s ease-in);
                }
            }
            .content {
                padding: 0;
                @include transition(all 0.4s ease-in);
                h3 {
                    font-size: $font-medium - 2;
                    font-family: $font-utm;
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium - 2;     /* fallback */
                    max-height: $space-medium - 4;      /* fallback */
                    min-height: $space-medium - 4;      /* fallback */
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}