.page-ben-le {
    .news-latest {
        // @include transition(all 0.5s ease-in);
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: $space-small;
        flex-wrap: nowrap;
        @media #{$tabletDown} {
            display: inline-block;
            width: 100%;
        }
        > a {
            display: flex;
            flex-direction: row;
            width: 100%;
            // margin-bottom: $space-small;
            flex-wrap: nowrap;
            @media #{$tabletDown} {
                display: inline-block;
                width: 100%;
            }
        }
            // > div {   
            //     display: flex;

            // }
        &:hover {
            .content-left {
                background-color: $white;
                border: 1px solid $red;
                border-right: 0;
                padding: 11px 10px;
                h3 {
                    color: $red;
                }
                .date-time-blog {
                    > span {
                        color: $red;
                    }
                }
                .border-title {
                    &:before {
                        border-bottom: 1px solid $red;
                    }
                }
                p {
                    color: $red;
                    opacity: 0.7;
                }
            }
            .content-right {
                &:before {
                    opacity: 0.4;
                    z-index: 1;
                }
            }
        }
        .content-left {
            width: 260px;
            // float: left;
            background-color: #ae030c;
            padding: 12px 10px;
            @include transition(all 0.3s ease-in);
            h3 {
                position: relative;
                font-family: $font-utm;
                font-size: $font-medium + 10;
                color: $white;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: $font-medium + 10;     /* fallback */
                max-height: $space-bigger - 10;     
                -webkit-line-clamp: 3; /* number of lines to show */
                -webkit-box-orient: vertical;
                margin-bottom: $space-smaller;
            }
            .border-title {
                position: relative;
                margin-bottom: $space-small;
                display: inline-block;
                width: 100%;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: $space-small + 15;
                    height: 1px;
                    border-bottom: 1px solid $white;
                }
            }
            .date-time-blog {
                > span {
                    color: $white;
                }
            }
            p {
                font-size: $font-nomal;
                color: $white;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: $font-medium - 2;     /* fallback */
                max-height: $space-big - 6;      /* fallback */
                -webkit-line-clamp: 4; /* number of lines to show */
                -webkit-box-orient: vertical;
                position: relative;
            }
        }
        .content-right {
            flex: auto;
            // width: calc(100% - 260px);
            // float: left;
            position: relative;
            @include transition(all 0.3s ease-in);
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $red;
                opacity: 0;
            }
            .image {
                height: 100%;
                > div {
                    height: 100%;
                }
            }
        }
    }

    .item-news {
        display: flex;
        width: 100%;
        margin-bottom: $space-small;
        @media #{$tabletDown} {
            display: inline-block;
            width: 100%;
        }
        &:hover {
            .content-right {
                h3 {
                    color: $red;
                }
            }
            .content-left {
                &:before {
                    opacity: 0.4;
                    z-index: 1;
                }
            }
        }
        .content-left {
            width: 260px;
            float: left;
            position: relative;
            @include transition(all 0.4s ease-in);
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                opacity: 0;
                @include transition(all 0.3s ease-in);
            }
        }
        .content-right {
            background-color: #f9f9f9;
            border: 1px solid #dedede;
            padding: 12px 14px;
            display: inline-block;
            width: calc(100% - 260px);
            height: 100%;
            h3 {
                font-family: $font-utm;
                font-size: $font-medium + 2;
                line-height: $space-small + 3;
                margin-bottom: $space-smaller;
                position: relative;
                color: #000;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                max-height: $space-medium + 26;      /* fallback */
                -webkit-line-clamp: 3; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            p {
                font-size: $font-nomal;
                color: #000;
                font-style: italic;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: $font-medium - 2;     /* fallback */
                max-height: $space-medium + 12;      /* fallback */
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                position: relative;
            }
        }
    }

    &.page-latest-news {
        .news-latest {
            .content-left {
                float: right;
            }
            .content-right {
                float: left;
            }
            .news-latest {
                &:hover {
                    .content-left {
                        border: 1px solid $red;
                        border-left: 0;     
                    }
                }
            }
        }
        
    }
}

@media #{$tabletDown} {
    .page-ben-le {
        .news-latest {
            .content-right, .content-left {
                width: 100%;
            }
        }
        .item-news {
            .content-right, .content-left {
                width: 100%;
            }
        }
    }
}