
.box-page-photo {
    &.box-page-su-kien {
        .latest-photo {
            .image {
                &:before {
                    background: none;
                }
            }
        }
    }
    .latest-photo {
        @include transition(all 0.5s ease-in);
        margin-bottom: $space-smaller;
        &:hover {
            .image {
                &:after {
                    opacity: 0.4;
                }
            }
            .content {
                background-color: $red;
            }
        }
        .image {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 20px;
                top: 20px;
                width: 41px;
                height: 33px;
                background: url(../img/home/icon-image.png) no-repeat center;
                z-index: 2;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $red;
                opacity: 0;
                z-index: 1;
                @include transition(all 0.5s ease-in);
            }
        }
        .content {
            background-color: #19191b;
            padding: 20px 12px 12px;
            @include transition(all 0.5s ease-in);
            h3 {
                font-size: $font-medium + 4;
                color: $white;
                font-family: $font-utm;
            }
        }
    }
    .list-photo {
        display: inline-block;
        width: 100%;
        margin-bottom: $space-small;
        > .item {
            display: inline-block;
            width: calc(100% / 3 - 12px);
            margin-right: $space-smaller + 4;
            background-color: $white;
            -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.18);
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.18);
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                .image {
                    &:after {
                        opacity: 0.4;
                    }
                }
                .content {
                    h3 {
                        color: $red;
                    }
                }
            }
            .image {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-top: 2px solid $red;
                    z-index: 1;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $red;
                    opacity: 0;
                    z-index: 1;
                    @include transition(all 0.5s ease-in);
                }
            }
            .content {
                padding: $space-smaller $space-smaller ($space-smaller + 5);
                @include transition(all 0.4s ease-in);
                h3 {
                    font-size: $font-medium + 2;
                    font-family: $font-utm;
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: $font-medium + 2;     /* fallback */
                    max-height: $space-big - 12;      /* fallback */
                    min-height: $space-big - 12;      /* fallback */
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    @media #{$tabletDown} {
                        margin-bottom: $space-smaller;
                    }
                }
            }
        }
    }
}
.page-photo {
    .item-news .content-right {
        -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.18);
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.18);
    }
}

@media #{$tabletDown} {
    .page-photo {
        .box-page-photo {
            .list-photo {
                > .item {
                    .content h3 {
                        min-height: auto;
                    }
                }
            }
        }
    }
    .box-page-photo {
        .list-photo {
            > .item {
                width: 100%;
                margin-right: 0;
                margin-bottom: $space-small;
            }
        }
    }
    .page-team-fooball {
        .table-team {
            > div.list-team {
                .team {
                    width: calc(50% - 15px);
                    float: left;
                    margin: 7px;
                    &:first-child {
                        margin-left: 7px;
                    }
                }
            }
        }
    }  
}