.page-questions {
    .banner {
        margin-bottom: $space-medium + 5;
    }
    .item-questions {
        background-color: #f2eee4;
        padding: $space-medium - 10;
        position: relative;
        padding-top: $space-medium;
        border-radius: 5px;
        margin-bottom: $space-medium + 5;
        .title {
            position: relative;
            width: 120px;
            height: 40px;
            display: inline-block;
            text-align: center;
            background: url('../img/bg-title-question.png') no-repeat center;
            font-size: $font-medium - 2;
            color: $white;
            font-weight: $font-weight-bold;
            line-height: $space-medium;
            position: absolute;
            top: -($space-small);
            left: 0;
        }
        .question {
            font-size: $font-medium - 2;
            line-height: $space-small + 2;
            color: #000;
            font-weight: $font-weight-bold;
            margin-bottom: $space-small - 5;
        }
        .answer {
            ul {
                list-style: none;
                margin-bottom: 0;
                li {
                    margin-bottom: $space-small - 5;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    > a {
                        font-size: $font-nomal;
                        color: #000;
                        span {
                            font-weight: $font-weight-bold;
                            margin-right: $space-small - 5;
                        }
                    }
                }
            }
        }
    }
}