.page-schedule {
    margin-bottom: $space-small * 3;
}
.banner-page {
    margin-bottom: $space-small + 10;
}

#schedule {
    padding: 0 15px;
    position: relative;
    .control {
        > a {
            position: absolute;
            font-size: 20px;
            top: 50%;
            @include transform(-50%);
            color: #9d9995;
            background-color: #f2f2f2;
            height: 100%;
            padding: 0 2px;
            line-height: $space-medium - 5;
            @include transition(0.5s ease-in);
            &.next {
                right: 0;
            }
            &.prev {
                left: 0;
            }
            &:hover {
                background-color: $red;
                color: $white;
                
            }
        }
    }
}

.list-item-schedule {
    margin-bottom: $space-small + 5;
    .item {
        background-color: #f2f2f2;
        padding: 5px 8px;
        @include transition(all 0.5s ease-in);
        .day {
            color: #000;
            font-weight: $font-weight-medium;
            font-size: $font-nomal;
            display: block;
            @include transition(all 0.5s ease-in);
        }
        .date {
            text-align: right;
            font-size: $font-small - 2;
            color: #949494;
            font-weight: $font-weight-medium;
        }
        &:hover {
            background-color: $red;
            .day {
                color: $white;
            }
        }
    }
}
.table-schedule {
    margin-bottom: $space-medium;
    .title-table {
        position: relative;
        font-size: $font-medium - 2;
        color: $white;
        font-family: $font-utm;
        text-transform: uppercase;
        background: url('../img/bg-title-table.png') no-repeat center;
        text-align: center;
        padding: $space-smaller;
        width: $space-bigger * 2 + 10;
        margin: 0 auto;
        margin-bottom: -3px;
    }
    &.round-table {
        .details-table {
            table {
                tbody {
                    .team-match {
                        .team {
                            &.center {
                                padding: 0 20px;
                                color: #b0a390;
                            }
                        }
                    }
                }
            }
        }
    }
}
.details-table {
    table {
        border: 0;
        border-right: 1px solid #dcd4c0;
        thead {
            background-color: #e4dcc8;
            tr {
                th {
                    font-size: $font-medium;
                    color: $red;
                    font-family: $font-utm;
                    text-align: center;
                    padding: 0;
                    padding-top: $space-smaller / 2;
                    border: 0;
                    border-right: 1px solid #dcd4c0;
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
        tbody {
            font-size: $font-nomal - 1;
            color: #000;
            font-weight: $font-weight-regular;
            th {
                font-size: $font-nomal - 1;
                color: #000;
                font-weight: $font-weight-regular;
            }
            > tr {
                // &:nth-child(2n) {
                //     background-color: $red;
                // }
                th, td {
                    vertical-align: middle;
                    text-align: center;
                    border: 1px solid #dcd4c0;
                }
                td {
                    &:nth-child(1) {
                        text-transform: uppercase;
                    }
                    &:last-child {
                        border-right: 0;
                    }
                }
                // th['rowspan'] {

                // }
            }
            .detail {
                > a {
                    font-size: $font-small;
                    color: #000;
                    font-weight: $font-weight-regular;
                    &:hover {
                        color: $red;
                    }
                }
            }
            .team-match {
                // display: table;
                margin: 0 auto;
                > div {
                    display: table-cell;
                    vertical-align: middle;
                    width: 45%;
                    @media #{$tabletDown} {
                        width: 120px;
                        text-align: center !important;
                        display: inline-block;
                    }
                }
                .team {
                    .image {
                        width: $space-small + 5;
                        margin-top: $space-smaller - 7;
                    }
                    .content {
                        font-size: $font-nomal;
                        color: #000;
                        white-space: nowrap;
                        @media #{$tabletDown} {
                            white-space: inherit;
                        }
                    }
                    &.team-left {
                        text-align: right;
                        .image {
                            float: right;
                            margin-left: $space-smaller;
                            @media #{$tabletDown} {
                                margin: 0 auto;
                                margin-bottom: $space-smaller / 2;
                                float: none;
                            }
                        }
                        .content {
                            // float: left;
                        }
                    }
                    &.team-right {
                        text-align: left;
                        .image {
                            float: left;
                            margin-right: 10px;
                            @media #{$tabletDown} {
                                margin: 0 auto;
                                margin-bottom: $space-smaller / 2;
                                float: none;
                            }
                        }
                        .content {
                            // float: right;
                        }
                    }
                    &.center {
                        padding: 0 10px;
                        width: 40px;
                    }
                }
            }
        }
    }
    
}