#nav-sidebar {
    // margin-left: 15px;
    // width: 300px;
    > div {
        margin-bottom: $space-smaller + 5;
    }
    
    // @media #{$tablet} {
    //     margin-left: 0;
    //     width: 100%;
    // }

    @media #{$tabletDown} {
        margin-left: 0;
        width: 100%;
    }
}
.world-cup {
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    border-radius: 10px 10px 0 0;
    background-color: $white;
    border-bottom: 1px solid $red;
    margin-bottom: $space-smaller + 5;
    > .title {
        font-size: $font-nomal + 2;
        background-color: $red;
        border-radius: 10px 10px 0 0;
        text-transform: uppercase;
        font-family: $font-oswaldvnf;
        color: $white;
        text-align: center;
        padding: 10px 0;
        margin-bottom: $space-smaller / 2;
    }
    .time {
        font-size: $font-small;
        font-weight: $font-weight-medium;
        color: #000;
        text-align: center;
        margin-bottom: $space-smaller;
    }
    #result {
        padding: 0 20px;
        position: relative;
        .control {
            > a {
                position: absolute;
                font-size: 40px;
                top: 50%;
                @include transform(-50%);
                width: 20px;
                height: 45px;
                z-index: 2;
                &.next {
                    right: 3px;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 19px;
                        height: 45px;
                        background: url('../img/next-prev-gray.png') 19px 0;
                        right: 0;
                        top: 0;
                    }
                }
                &.prev {
                    left: 3px;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 19px;
                        height: 45px;
                        background: url('../img/next-prev-gray.png') 0 0;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    .team-vs-team {
        display: table;
        width: 100%;
        padding: 0 10px;
        > div {
            display: table-cell;
            vertical-align: middle;
            position: relative;
            .logo-team {
                position: absolute;
            }
            p {
                text-align: center;
                font-size: $font-nomal;
                color: #000;
                font-weight: $font-weight-bold;
                display: inline-block;
                width: 100%;
            }
            &.vs {
                font-size: $font-medium + 10;
                color: #000;
                font-family: $font-utm;
                width: 20%;
                text-align: center;
                vertical-align: top;
                padding-top: $space-smaller / 2;
            }
            &.team {
                > div {
                    float: left;
                    display: inline-block;
                    &.score {  
                        background-color: #e7c99f;
                        font-size: $font-medium * 2 + 4;
                        color: #000;
                        display: inline-block;
                        font-family: $font-utm;
                        padding: 0;
                        position: relative;
                        width: 75%;
                        text-align: right;
                        margin-bottom: $space-smaller - 2;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 0;
                        }
                    }
                    &.logo-team {
                        position: absolute;
                        z-index: 1;
                    }
                }
                &.team-left {
                    width: 40%;
                    > div {
                        &.logo-team {
                            left: 0;
                        }
                        &.score {
                            &:before {
                                right: -18px;
                                top: 0;
                                width: 0;
                                height: 0;
                                border-top: 26px solid transparent;
                                border-left: 18px solid #e7c99f;
                                border-bottom: 26px solid transparent;
                            }
                        }
                    }
                }
                &.team-right {
                    width: 40%;
                    > div {
                        float: right;
                        text-align: left;
                        &.logo-team {
                            float: right;
                            right: 0;
                        }
                        &.score {
                            &:before {
                                left: -18px;
                                top: 0;
                                width: 0;
                                height: 0;
                                border-top: 26px solid transparent;
                                border-right: 18px solid #e7c99f;
                                border-bottom: 26px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
    .table-score {
        padding: 14px;
        .title {
            background: none;
            font-family: $font-utm;
            font-size: $font-medium - 2;
            color: $primary-color;
            text-transform: uppercase;
            padding: 5px 0 5px;
            padding-left: $space-smaller;
            border-left: 3px solid $primary-color;
            display: inline-block;
            margin-left: - ($space-smaller + 5);
        }
        #list-table-score {
            list-style: none;
            margin-bottom: $space-smaller / 2;
            display: inline-block;
            width: 100%;
            > li {
                background: url('../img/sidebar/bg-table-score.png') no-repeat center;
                width: calc(100% / 8);
                height: 28px;
                float: left;
                text-align: center;
                // margin: 0 calc(100% / 64 - 1px);
                background-size: contain;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    background: url('../img/sidebar/bg-table-score-active.png') no-repeat center;
                    background-size: contain;
                    > a {
                        color: $white;
                    }
                }
                &:hover {
                    background: url('../img/sidebar/bg-table-score-active.png') no-repeat center;
                    background-size: contain;
                    > a {
                        color: $white;
                    }
                }
                > a {
                    font-size: $font-medium;
                    color: #000;
                    font-family: $font-utm;
                    text-transform: uppercase;
                    display: block;
                    line-height: $space-small + 2;
                }
            }
        }
        .content {
            table {
                border: 0;
                margin-bottom: $space-smaller;
            }
            thead {
                padding-bottom: $space-smaller / 2;
                border-bottom: 1px dashed #e2e2e2;
                margin-bottom: $space-smaller / 2;
                line-height: 10px;
                th {
                    font-size: $font-nomal;
                    color: #7c7c7c;
                    font-family: $font-utm;
                    border: 0;
                    padding: 0;
                    text-align: center;
                    &:first-child {
                        width: 40%;
                        text-align: left;
                    }
                }
            }
            tbody {
                td, th {
                    border: 0;
                    padding: 0;
                    line-height: 0;
                }
                td {
                    font-size: $font-nomal - 1;
                    font-family: $font-utm;
                    color: #000;
                    line-height: $space-smaller + 3;
                    text-align: center;
                    
                }
                tr {
                    &:first-child {
                        th, td {
                            padding-top: 10px;
                        }
                    }
                    &:last-child {
                        th, td {
                            border-bottom: 1px dashed #e2e2e2;
                        }
                    }
                }
                th, td {
                    padding-bottom: 10px;
                }
                .name-team {
                    display: inline-block;
                    width: 100%;
                    .image {
                        margin-right: $space-smaller / 2;
                        > div {
                            width: $space-small + 2;
                        }
                        
                         float: left;
                    }
                    .content {
                        font-size: $font-nomal - 2;
                        color: #000;
                        line-height: $space-smaller + 3;
                        font-weight: $font-weight-regular;
                    }
                }
            }
        }
        .note {
            font-size: $font-nomal;
            color: #7c7c7c;
            font-family: $font-utm;
        }
        .view-all-score {
            margin-bottom: $space-smaller + 2;
            > a {
                color: #000;
                font-size: $font-nomal - 2;
                float: right;
                &:hover {
                    color: $red;
                }
                > i {
                    color: $red;
                    font-size: $font-medium;
                    line-height: $font-nomal + 2;
                    float: right;
                    margin-left: $space-smaller / 2;
                }
            }
        }
    }
}

.list-funny {
    background: url('../img/sidebar/bg.jpg') no-repeat center;
    background-size: cover;
    > .title {
        font-size: $font-medium - 2;
        color: $white;
        font-family: $font-utm;
        text-transform: uppercase;
        padding: 10px 15px;
        border-bottom: 1px solid $white;
        margin-bottom: $space-smaller;
    }
    #fq_count {
        display: none;
    }
    .field-required {
        display: inline-block;
        width: 100%;
        .form-group {
            display: inline-block;
            width: 50%;
            float: left;
            &.submit-right {
                float: right;
                text-align: right;
                button {
                    float: right;
                }
            }
            button {
                background: none;
                border: none;
                color: $white;
                text-decoration: underline;
                font-size: $font-nomal + 2;
            }
        }
    }
}
.funny-question {
    > div {
        padding: 0 15px;
        &.question {
            font-size: $font-medium - 2;
            color: $white;
            font-family: $font-utm;
            line-height: $space-small + 1;
            margin-bottom: $space-small + 5;
        }
        &.answer {
            > ul {
                list-style: none;
                display: inline-block;
                width: 100%;
                > li {
                    float: left;
                    width: 50%;
                    margin-bottom: $space-smaller;
                    padding-left: $space-small;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color: $white;
                    span {
                        margin-left: $space-smaller;
                    }
                    &.true {
                        background-color: #39f906;
                        border-radius: 30px;
                    }
                    &.hasTrue {
                        background-color: #39f906;
                        border-radius: 30px;
                    }
                    &.false {
                        background-color: $red;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

.most-read {
    padding: 10px 15px;
    padding-bottom: 0;
    background-color: $white;
    border-bottom: 1px solid $red;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    .title {
        font-size: $font-medium - 2;
        color: $red;
        font-family: $font-utm;
        text-transform: uppercase;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: $space-smaller - 2;
        margin-bottom: $space-smaller;
    }
    #news-most-read {
        position: relative;
            .control {
                position: absolute;
                top: -44px;
                right: $space-smaller + 5;
                z-index: 9;
                > a {
                    display: inline-block;
                    position: absolute;
                    height: $space-small + 10;
                    width: $space-small - 2;
                    text-align: center;
                    line-height: 30px;
                    color: #aaa;
                    font-size: $font-medium;
                    z-index: 2;
                    &.next {
                        left: 0;
                    }
                    &.prev {
                        right: 0;
                    }
                    &:hover {
                        color: $red;
                    }
                }
            }
    }
    .item {
        .item-news-most-read {
            margin-bottom: $space-smaller;
            border-bottom: 1px solid #dbdbdb;
            padding-bottom: $space-smaller / 2;
            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }
            &:hover {
                .content {
                    color: $red;
                }
            }
            .content {
                font-size: $font-nomal - 1;
                font-weight: $font-weight-bold;
                // overflow: hidden;
                color: #000;
                @include transition(0.3s ease-in);
                // text-overflow: ellipsis;
                // display: -webkit-box;
                // line-height: $font-nomal + 2;     /* fallback */
                // max-height: $space-medium - 6;      /* fallback */
                // min-height: $space-medium - 6;      /* fallback */
                // -webkit-line-clamp: 2; /* number of lines to show */
                // -webkit-box-orient: vertical;
                margin-bottom: $space-smaller / 2;
            }
            .view-share {
                display: inline-block;
                width: 100%;
                > div {
                    float: left;
                    font-size: $font-nomal - 4;
                    color: #aaaaaa;
                    &.share {
                        margin-left: $space-smaller + 5;
                    }
                }
            }
        }
    }
}
.advertise {
    img {
        max-width: 100%;
        width: 100%;
    }
}

.sidebar-schedul {
    background-color: #b4181e;
    padding: 15px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    h2 {
        font-size: $font-nomal + 2;
        color: $white;
        font-family: $font-utm;
        text-transform: uppercase;
        margin-bottom: $space-smaller / 2;
    }
    .list-item-schedul {
        display: inline-block;
        width: 100%;
        .item {
            width: calc(50% - 7px);
            margin: 0 7px;
            float: left;
            margin-bottom: $space-smaller + 4;
            &:first-child {
                margin-left: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(3) {
                margin-left: 0;
                clear: left;
            }
            .group-item {
                > div {
                    p {
                        @include line-overflow(10px, 11px, 2);
                        min-height: $space-small + 2;
                    }
                }
            }
        }
    }
    .view-all {
        display: inline-block;
        padding: 5px 20px;
    }
}
#news-latest {
    .list-item-news-news-latest {
        .item-news-news-latest {
            
        }
    }
}

.news-worldcup {
    display: inline-block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.23);
    background-color: $white;
    > .title {
        font-size: 16px;
        text-transform: uppercase;
        font-family: "OswaldVNF";
        color: $red;
        text-align: center;
        padding: 10px 0;
    }
    .main-news-worldcup {
        position: relative;
        &:hover {
            .icon-video {
                opacity: 0.7;
            }
        }
        .content {
            position: absolute;
            background: url('../img/sidebar/border-blog-news-world.png') no-repeat center right;
            width: 206px;
            top: -8px;
            right: -7px;
            height: 223px;
            background-size: cover;
            padding-left: $space-small * 2;
            .icon-video {
                position: relative;
                width: $space-small * 3 + 5;
                height: $space-small * 3 + 5;
                border-radius: 50%;
                background-color: $white;
                color: $red;
                font-size: $font-medium + 10;
                text-align: center;
                line-height: $space-small * 3 + 5;
                padding-left: $space-smaller / 2;
                margin: 0 auto;
                margin-top: $space-smaller * 4;
                margin-bottom: $space-smaller + 2;
                &:before {
                    content: "";
                    position: absolute;
                    left: -5px;
                    top: -5px;
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    border: 3px solid rgba(255, 255, 255, 0.7);
                    border-radius: 50%;
                }
            }
            .title {
                font-family: $font-utm;
                color: $white;
                @include line-overflow(18px, 20px, 2);
                width: $space-small * 7;
                margin: 0 auto;
            }
        }
    }
}

@media #{$tabletUp} {
    .sidebar-schedul {
        .list-item-schedul { 
            .item {
                padding: $space-smaller;
                width: calc(100% / 4 - 11px);
                &:nth-child(2n) {
                    margin: 0 7px;
                }
                &:nth-child(3) {
                    margin: 0 7px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .world-cup {
        .team-vs-team {
            width: 80%;
            margin: 0 auto;
        }
        #result {
            width: 80%;
            margin: 0 auto;
        }
    }
}
@media #{$tablet} {
    #nav-sidebar {
        margin-left: 0;
    }
    .world-cup {
        .team-vs-team {
            width: 80%;
            margin: 0 auto;
        }
        #result {
            width: 80%;
            margin: 0 auto;
        }
    }
    .sidebar-schedul {
        .list-item-schedul {
            .item {
                border-radius: $space-smaller;
            }
        }
    } 
}
@media #{$tabletDown} { 
    .world-cup {
        .team-vs-team {
            width: 100%;
            margin: 0 auto;
        }
        #result {
            width: 95%;
            margin: 0 auto;
        }
    } 
    .sidebar-schedul {
        .list-item-schedul { 
            margin-bottom: $space-smaller;
            .item {
                padding: $space-smaller;
                width: calc(100% / 2 - 7px);
                margin: 0 7px 14px 0;
                // margin-bottom: $space-smaller + 4;
                &:nth-child(2n) {
                    margin: 0 0 14px 7px;
                }
                &:nth-child(3) {
                    margin: 0 7px 0 0;
                }
                &:last-child {
                    margin: 0 0 0 7px;
                }
            }
        }
    }
}