.page-team-fooball {
    padding: 20px 15px;
    .title {
        background: url('../img/title-team.png') no-repeat center;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: $font-medium + 10;
        color: $white;
        text-transform: uppercase;
        font-family: $font-utm;
        padding: $space-small;
        border-bottom: 0;
        margin-bottom: $space-small + 5;
        @media #{$tabletDown} {
            font-size: $font-medium;
            background-size: contain;
        }
    }
    .table-team {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dashed #dfd6ac;
        padding-bottom: $space-smaller * 3;
        margin-bottom: $space-smaller * 3;
        @media #{$tabletDown} {
            padding-bottom: $space-smaller;
            margin-bottom: $space-smaller;
        }
        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }
        > div {
            float: left;
            &.table-name {
                width: 30px;
                text-align: center;
                margin-top: $space-smaller * 3;
            }
            &.list-team {
                width: calc(100% - 30px);
                .team {
                    width: calc(100% / 4 - 9px);
                    float: left;
                    margin: 0 6px;
                    text-align: center;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    .image {
                        margin-bottom: $space-smaller;
                        > div {
                            border-radius: 5px;
                        }
                    }
                    p {
                        font-weight: $font-weight-medium;
                        color: #000;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

}