.details-team {
    background: url('../img/bg-details-chan-dung.png') no-repeat center;
    background-size: cover;
    border-radius: $space-smaller / 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    margin-bottom: $space-medium;
    @media #{$tabletDown} {
        display: inline-block;
    }
    > div {
        width: calc(100% / 2);
        border-right: 1px dashed rgba(255, 255, 255, 0.3);
        padding: 10px 20px;
        vertical-align: middle;
        @media #{$tabletDown} {
            border-right: 0;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            &:last-child {
                border-bottom: 0;
            }
        }
        &:last-child {
            border-right: 0;
        }
        &.item {
            flex: auto;
            &-left {
                width: 20%;
                text-align: center;
                .image {
                    width: $space-bigger + 10;
                    margin: 0 auto;
                    margin-bottom: $space-smaller;
                    // max-width: 100%;
                }
                h2 {
                    font-size: $font-medium + 4;
                    color: $white;
                    font-family: $font-utm;
                    text-transform: uppercase;
                }
            }
            &-center {
                .item-left {
                    .image {
                        width: $space-bigger + 50;
                        margin: 0 auto;
                        margin-bottom: $space-smaller;
                        // max-width: 100%;
                    }
                }
                width: 40%;
                @media #{$tabletDown} {
                    width: 100%;
                }
                > div {
                    font-size: $font-medium - 4;
                    color: $white;
                    font-weight: $font-weight-bold;
                    margin-bottom: $space-smaller;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    > span {
                        font-size: $font-nomal;
                        font-weight: $font-weight-light;
                        .title-name & {
                            width: 100%;
                        }
                    }
                }
            }
            &-right {
                width: 60%;
                @media #{$tabletDown} {
                    width: 100%;
                }
                > div {
                    font-size: $font-medium - 2;
                    color: $white;
                    font-weight: $font-weight-bold;
                    margin-bottom: $space-smaller / 2;
                }
                p {
                    font-size: $font-nomal;
                    font-weight: $font-weight-light;
                    color: $white;
                }
            }
        }
    }
}
.page-team-fooball-detail {
    
    
    #list-tab-info {
        list-style: none;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $red;
        margin-bottom: 0;
        > li {
            padding: 10px 20px;
            float: left;
            &.active {
                background-color: $red;
                border-radius: 5px 5px 0 0;
                > a {
                    color: $white;
                    text-transform: uppercase;
                }
            }
            > a {
                font-size: $font-nomal;
                color: #000;
                font-weight: $font-weight-bold;
                display: block;
            }
        }
    }

    .tab-info {
        > .content {
            // background-color: #fffff7;
            // border: 1px solid #e2e2d9;
            // margin-top: -4px;
            // padding: $space-smaller + 5;
            .list-info {
                .item-info {
                    padding: 10px;
                    margin-bottom: $space-smaller / 2;
                    &:nth-child(2n) {
                        background-color: #fffef4;
                    }
                    .title {
                        border-bottom: 1px dashed #cccccc;
                        margin-bottom: $space-smaller;
                        display: inline-block;
                        width: 100%;
                        padding-bottom: $space-smaller / 2;
                        > div {
                            width: 50%;
                            &.title-left {
                                font-size: $font-small;
                                color: #000;
                                float: left;
                            }
                            &.title-right {
                                float: right;
                                text-align: right;
                                > span {
                                    font-size: $font-small - 1;
                                    color: #777777;
                                    padding: 0 5px;
                                    position: relative;
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        right: 0;
                                        top: 3px;
                                        width: 1px;
                                        height: $space-smaller - 2;
                                        border-right: 1px solid #777;
                                    }
                                    &:last-child {
                                        padding-right: 0;
                                        &:before {
                                            border-right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .content-info {
                        display: -webkit-flex; /* Safari */
                        display: flex;
                        flex-direction: row;
                        > div {
                            width: calc(100% / 3);
                            &.item {
                                text-align: center;
                                .image {
                                    width: $space-medium + 5;
                                    margin: 0 auto;
                                    margin-bottom: $space-smaller;
                                }
                                p {
                                    font-size: $font-small;
                                    color: #000;
                                }
                            }
                            &.item-center {
                                text-align: center;
                                .score {
                                    > span {
                                        font-size: $font-medium;
                                        color: #000;
                                        font-family: $font-utm
                                    }
                                }
                                .ft {
                                    font-size: $font-small;
                                    color: #a0a0a0;
                                    text-transform: uppercase;
                                }
                                .detail {
                                    > a {
                                        font-size: $font-small;
                                        color: #777;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}