.page-video {
    .box-page-video {
        .latest-video {
            &:hover {
                .image {
                    &:after {
                        opacity: 0.4;
                    }
                    .btn-play {
                        color: $red;
                        z-index: 2;
                        @include transition(0.2s ease-in);
                    } 
                }  
            }
            .image {
                position: relative;
                padding: $space-smaller;
                background-color: #000;
                &:before {
                    background: none;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0;
                    @include transition(0.2s ease-in);
                }
                .btn-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transformXY(-50%, -50%);
                    color: $white;
                    font-size: $font-medium + 10;
                    font-family: $font-utm;
                    text-transform: uppercase;
                    &:before {
                        content: "";
                        position: absolute;
                        top: -6px;
                        left: -42px;
                        width: 156px;
                        height: 49px;
                        background: url('../img/home/border-btn-play.png') no-repeat center;
                        z-index: -1;
                    }
                }
            }
        }
        .list-video {
            .item {
                &:hover {
                    .content {
                        h3 {
                            color: $red;
                            &:before {
                                color: $white;
                            }
                            &:after {
                                // border: 1px solid #000;
                                background-color: $red;
                                color: $white;
                            }
                        }
                    }
                }
                .content {
                    h3 {
                        text-indent: 25px;
                        position: relative;
                        font-size: $font-medium + 2;
                        font-family: $font-utm;
                        color: #000;
                        display: inline-block;
                        &:before {
                            content: "\f04b";
                            position: absolute;
                            font-family: FontAwesome;
                            font-size: $font-small - 2;
                            color: $red;
                            left: -($space-small - 2);
                            top: -1px;
                            @include transition(0.2s ease-in);
                            z-index: 1;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            width: $space-small;
                            height: $space-small;
                            border-radius: 5px;
                            display: inline-block;
                            // z-index: 1;
                            top: 0;
                            border: 1px solid $red;
                            @include transition(0.2s ease-in);
                        }
                    }
                }
            }
        }
    }

    .wrap-news-item {
        &:hover {
            .content-right {
                h3 {
                    color: $red;
                    &:before {
                        color: $white;
                    }
                    &:after {
                        // border: 1px solid #000;
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }
        .content-right {
            h3 {
                padding-left: 25px;
                position: relative;
                font-size: $font-medium + 2;
                font-family: $font-utm;
                color: #000;
                display: inline-block;
                margin-bottom: 3px;
                padding-bottom: 0;
                &:before {
                    content: "\f04b";
                    position: absolute;
                    font-family: FontAwesome;
                    font-size: $font-small - 2;
                    color: $red;
                    left: $space-smaller - 3;
                    top: 0;
                    @include transition(0.2s ease-in);
                    border-bottom: 0;
                    z-index: 1;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: $space-small;
                    height: $space-small;
                    border-radius: 5px;
                    display: inline-block;
                    // z-index: 1;
                    top: 1px;
                    border: 1px solid $red;
                    @include transition(0.2s ease-in);
                }
            }
            .border-title {
                position: relative;
                margin-bottom: $space-smaller - 7;
                display: none;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-bottom: 1px solid $red;
                    width: $space-small + 15;
                    height: 1px;
                }
            }
            p {
                position: relative;
            }
        }
    }
}