.main-content {
	margin-bottom: $space-smaller * 6;
}
#main {
	background: url('../img/bg-main-pattern.png') repeat;
    background-color: #e8e6c2;
    padding: 0;
    // padding-top: 85px;
    @media #{$tabletDown} {
    	// padding-top: $space-small;
    }
}
// .advertise-head {
// 	position: relative;
// }
// .advertise-top {
//     text-align: right;
//     margin-top: $space-smaller + 5;
//     margin-bottom: $space-smaller + 3;
//     position: absolute;
//     right: 0;
//     @media #{$tabletDown} {
//         margin-top: $space-small + 5;
//     }
// }
%ghost-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: none;
	opacity: 0;
}

.super-img {
	position: relative;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
	overflow: hidden;
	// padding-top: $landscapeRatio;
	// visibility: hidden;
	padding-top: 9/16 * 100%;

	opacity: 0;
	&.loaded {
		// visibility: visible;
		opacity: 1;
		@include transition(opacity .5s);
	}
	img {
		@extend %ghost-image;
	}

	&.ratio-3x4{
		padding-top: 4/3 * 100%;
	}

	&.ratio-4x3{
		padding-top: 3/4 * 100%;
	}

	&.ratio-3x2{
		padding-top: 2/3 * 100%;
	}

	&.ratio-1x1{
		padding-top: 100%;
	}

	&.ratio-2x1{
		padding-top: 1/2 * 100%;
	}

	&.ratio-16x9{
		padding-top: 9/16 * 100%;
	}

	&.ratio-8x5{
		padding-top: 5/8 * 100%;
	}
}

.view-all {
	background-color: #cf1b21;
	padding: 6px 0;
	@include transition(0.3s ease-in);
	> a {
		color: $white;
		display: block;
		font-weight: $font-weight-semibold;
	}
	&:hover {
		background-color: $white;
		@include transition(0.3s ease-out);
		> a {
			color: #cf1b21;
			@include transition(0.3s ease-out);
		}
	}
}
.box-white {
	background-color: $white;
	-webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.27);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.27);
    margin-bottom: $space-smaller + 5;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $red;
}
.title-border-left {
	&.title {
		border-bottom: 1px solid #dbdbdb;
		margin-bottom: $space-smaller + 5;
        h2 {
            font-family: $font-utm;
            font-size: $font-medium - 2;
            color: $primary-color;
            text-transform: uppercase;
            padding: 5px 0 5px;
            padding-left: $space-smaller;
            border-left: 3px solid $primary-color;
            display: inline-block;
        }
    }
}
.advertise {
	margin-bottom: $space-smaller + 5;
}

.list-breadcrumb {
	background: url('../img/bg-breadcrumb.png') no-repeat center left;
	background-size: cover;
	margin-bottom: $space-smaller ;
	> a {
		color: #868686;
		font-size: $font-nomal - 1;
		position: relative;
		padding-right: $space-smaller + 2;
		&:before {
			content: "\f101";
			font-family: FontAwesome;
			position: absolute;
			right: 0;
			top: 0;
			font-size: $font-nomal;
			color: #868686;
		}
	}
	span.active {
		color: #0456b6;
		font-size: $font-nomal - 1;
		font-weight: $font-weight-bold;
	}
}
.main-content-page {
	background-color: $white;
	-webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.27);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.27);
    padding: $space-smaller + 4;
}
.wrap-main-right {
	float: right;
}
.related {
	margin-bottom: $space-smaller * 3;
	> .title {
		font-size: $font-nomal + 4;
		font-family: $font-utm;
		color: $red;
		text-transform: uppercase;
		position: relative;
		margin-bottom: $space-smaller + 5;
		display: inline-block;
		width: calc(100% - 40px);
		z-index: 1;
		background-color: $white;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: calc(100% - 95px);
			height: 1px;
			border-bottom: 1px solid #dddddd;
			@include transform(-50%);
		}
	}
}
@-webkit-keyframes fadeInDown {
  	from {
    	opacity: 0;
    	-webkit-transform: translate3d(0, -100%, 0);
    	transform: translate3d(0, -100%, 0);
  	}

  	to {
    	opacity: 1;
    	-webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
  	}
}

@keyframes fadeInDown {
  	from {
    	opacity: 0;
    	-webkit-transform: translate3d(0, -100%, 0);
    	transform: translate3d(0, -100%, 0);
  	}

  	to {
    	opacity: 1;
    	-webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
  	}
}

@-webkit-keyframes fadeInUp {
  	from {
    	opacity: 0;
    	-webkit-transform: translate3d(0, 100%, 0);
    	transform: translate3d(0, 100%, 0);
  	}

  	to {
    	opacity: 1;
    	-webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
  	}
}

@keyframes fadeInUp {
  	from {
    	opacity: 0;
    	-webkit-transform: translate3d(0, 100%, 0);
    	transform: translate3d(0, 100%, 0);
  	}

  	to {
    	opacity: 1;
    	-webkit-transform: translate3d(0, 0, 0);
    	transform: translate3d(0, 0, 0);
  	}
}

#paging {
	ul {
		list-style: none;
		display: inline-block;
		width: 100%;
		> li {
			background: url('../img/bg-paging.png') no-repeat center;
			width: $space-small + 11;
			height: $space-small + 11;
			text-align: center;
			@include transition(all 0.4s ease-in);
			float: left;
			margin-right: $space-smaller / 2;
			> a {
				font-size: $font-medium - 2;
				color: #636363;
				font-family: $font-utm;
				text-align: center;
				line-height: $space-small + 11;
				@include transition(all 0.4s ease-in);
				display: block;
			}
			&:hover {
				background: url('../img/bg-paging-active.png') no-repeat center;
				> a {
					color: $white;
				}
			}
			&.active {
				background: url('../img/bg-paging-active.png') no-repeat center;
				> a {
					color: $white;
				}
			}
		}
	}
}
.date-time-blog {
	display: inline-block;
	width: 100%;
	margin-bottom: $space-smaller;
	span {
		font-size: $font-small - 1;
		color: #999;
		position: relative;
		padding-right: $space-smaller - 2;
		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: 3px;
			border-right: 1px solid #999;
			width: 1px;
			height: 10px;
		}
		&:last-child {
			padding-right: 0;
			&:before {
				border-right: 0;
			}
		}
	}
}

#advLeft {
    position: fixed;
    top: 44px;
    left: calc(50vw - 595px - 171px);
    @media #{$desktop} {
    	left: calc(50vw - 530px - 171px) !important;
    }
}
#advRight {
    position: fixed;
    top: 44px;
    right: calc(50vw - 595px - 171px);
    @media #{$desktop} {
    	right: calc(50vw - 530px - 171px) !important;
    }
}

#back-to-top {
	> a {
		font-size: $font-medium + 10;
		color: $red;
		line-height: 93px;
		background: url('../img/backtop.png') no-repeat center;
		width: 94px;
		height: 93px;
		position: absolute;
		bottom: $space-small + 10;
		right: $space-small;
		text-align: center;
		&:hover {
			color: $white;
		}
		@media #{$tabletDown} {
			width: 50px;
			height: auto;
			background-size: contain;
			font-size: $font-medium;
		}
	}
}
.at-style-responsive .at-share-btn {
	padding: 5px !important;
	margin-bottom: 0 !important;
	border-radius: 2px !important;
}
