#footer {
    position: relative;
}
#footer-page {
	background: url('../img/bg-footer.jpg') no-repeat center;
	background-size: cover;
	> .container {
		padding-bottom: $space-smaller * 5;
		position: relative;
		padding-top: $space-smaller * 4;
	}
    .footer-left {
    	p {
			font-weight: $font-weight-light;
			color: $white;
			font-size: $font-small;
			padding-right: $space-small * 2;
			line-height: $space-small - 2;
			margin-bottom: $space-smaller / 2;
			span {
				font-weight: $font-weight-bold;
			}
    	}
    	.logo {
            margin-top: $space-smaller;
    		ul {
    			list-style: none;
                display: inline-block;
                width: 100%;
    			> li {
    				float: left;
    				background-color: $white;
    				margin-right: $space-smaller;
    				min-width: $space-small * 3 + 10;
    				text-align: center;
    				> a {
    					padding: 5px;
    					display: block;
    					
    				}
    			}
    		}
    	}
    }
    .footer-right {
    	display: inline-block;
    	width: 100%;
    	p {
    		font-weight: $font-weight-light;
			color: $white;
			font-size: $font-small;
			padding-right: $space-small * 2;
			line-height: $space-small - 2;
			margin-bottom: $space-smaller - 3;
			span {
				font-weight: $font-weight-bold;
				&.icon {
					margin-right: $space-smaller / 2;
				}
				&.left {
					font-weight: $font-weight-light;
					margin-right: $space-small + 10;
				}
				&.right {
					font-weight: $font-weight-light;
				}
			}
    	}
    }
    .footer-bot {
    	background-image: url('../img/bg-footer-bot.png');
    	// background-color: #b6161e;
    	background-repeat: no-repeat;
    	background-position: center top;
        background-size: cover;
    	position: relative;
    	padding: 25px 0;
    	p {
    		font-weight: $font-weight-light;
			color: $white;
			font-size: $font-small - 2;
			line-height: $space-small + 2;
			margin-top: $space-smaller / 2;
    	}
    	.menu-footer {
    		padding-left: $space-small;
    		ul {
    			list-style: none;
    			li {
    				margin: 0 5px;
    				float: left;
    				> a {
    					font-size: $font-nomal;
    					color: $white;
    					font-family: $font-utm;
    					text-transform: uppercase;
    				}
    				&:hover {
    					> a {
    						color: #000;
    						opacity: 0.7;
    					}
    				}
    			}
    		}
    	}
    }
}
@media #{$tabletUp} {
    #footer {
        .footer-left {
            p {
                font-size: $font-medium;
                line-height: $space-small + 10;
            }
        }
        .footer-right {
            p {
                font-size: $font-medium;
                line-height: $space-small + 10;
            }
        }
        .footer-bot {
            p {
                font-size: $font-medium;
                padding-top: $space-medium + 20;
                text-align: center;
                line-height: $space-small + 8;
            }
            .menu-footer {
                ul {
                    padding-top: $space-medium + 31;
                    li {
                        > a {
                            font-size: $font-medium;
                        }
                    }
                }
            }
        }
    }
}
@media #{$tablet} {
    #footer {
        .menu-footer {
            display: none;
        }
    }
}
@media #{$tabletDown} {
	#footer {
        .footer-left {
            p {
                font-size: $font-medium - 7;
                line-height: $space-small;
                padding-right: 0;
            }
            .logo {
                margin-top: 10px;
                ul {
                    li {
                        width: calc(100% / 3 - 10px);
                        margin-bottom: $space-smaller;
                    }
                }
            }
        }
        .footer-right {
            p {
                font-size: $font-medium - 7;
                line-height: $space-small;
                padding-right: 0;
                span {
                    &.left {
                        width: 100%;
                        display: inline-block;
                        margin-right: 0;
                        margin-bottom: $space-smaller - 3;
                    }
                }
            }
        }
		.footer-bot {
			padding: 37px 0 0;
			background-size: cover;
			p {
				padding: 0 0 10px;
		        text-align: center;		 
		        line-height: normal; 
                font-size: $font-small;
			}
		}
		.menu-footer {
			display: none;
		}
	}
    #footer-page {
        > .container {
            padding-bottom: $space-smaller;
            padding-top: $space-small + 10;
        }
    }
	
}