#header {
	-webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 0.8s;
	.header {
		background: url('../img/bg-live.jpg') no-repeat center top;
		min-height: 290px;
		@media #{$tabletDown} {
			background-size: cover;
			min-height: auto;
			padding-bottom: $space-smaller * 4;
		}
	}
	&.header-sticky {
		position: fixed;
		width: 100%;
		z-index: 99999;
		-webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        animation-duration: 1s;
		#score-live {
			padding-top: $space-smaller;
			// transition: all 1s ease-in;
			.live-item {
				@media #{$tabletDown} {
					width: 75%;
					margin: 0 auto;
				}
				.team {
					margin-top: $space-smaller;
					.image {
						max-width: $space-smaller * 8;
					}
					p {
						font-size: $font-medium - 2;
					}
					&.score {
						margin-top: $space-small;
						> div {
							font-size: $font-medium;
							&.time {
								font-size: $font-medium + 5;
							}
						}
					}
				}
			}
		}
		#score-live .control {
			> a {
				@media #{$tabletDown} {
					&.prev {
						left: 10%;
					}
					&.next {
						right: 10%;
					}
				}
				&.prev {
					left: 0;
				}
				&.next {
					right: 0;
				}
			}
		}
		.header {
			min-height: 210px;
			display: none;
			@media #{$tabletDown} {
				display: none;
			}	
		}
		#wrap-main #logo {
			max-width: 80%;
			top: -30px;	
			width: 70%;
			&.logo-page {
            	top: 0;
            }
			@media #{$tabletUp} {
                max-width: 80%;
                top: -45px;
                &.logo-page {
                	top: 0;
                }
            }
			@media #{$tabletDown} {
                max-width: 100%;
                top: 0;
            }
		}
	}
}
#score-live {
	padding-top: $space-small;
	@media #{$tabletDown} {
		padding-top: 0;
	}
	.live-item {
		@media #{$tabletDown} {
			width: 75%;
			margin: 0 auto;
		}
		.team {
			text-align: center;
			margin-top: $space-smaller * 3;
			@media #{$tabletDown} {
				margin-top: 0;
				&.score {
					margin-top: $space-small;
				}
			}
			.image {
				max-width: 150px;
				margin: 0 auto;
				margin-bottom: $space-smaller;
			}
			p {
				font-size: $font-medium + 10;
				color: $white;
				font-family: $font-utm;
				text-transform: uppercase;
				@media #{$tabletDown} {
					font-size: $font-medium - 5;
				}
			}
			&.score {
				margin-top: 52px;
				> div {
					text-align: center;
				}
				.date {
					font-size: $font-medium + 16;
					color: $white;
					font-family: $font-oswaldvnf;
					@media #{$tabletDown} {
						font-size: $font-nomal;
					}				
				}
				.time {
					font-size: $font-medium + 10;
					color: $white;
					text-transform: uppercase;
					font-weight: $font-weight-regular;
					@media #{$tabletDown} {
						font-size: $font-nomal;
					}
				}
			}
		}
	}
	.control {
		> a {
			position: absolute;
			font-size: 40px;
			top: 50%;
			@include transform(-50%);
			width: 20px;
			height: 44px;
			z-index: 99;
			&.next {
				right: -80px;
				@media #{$tabletUp} {
                    right: 0;
                }
                @media #{$tabletDown} {
                	right: 0;
                }
				&:before {
					position: absolute;
					content: "";
					width: 20px;
					height: 40px;
					background: url('../img/next-prev.png') 20px 0;
					right: 0;
					top: 0;
				}
			}
			&.prev {
				left: -80px;
				@media #{$tabletUp} {
                    left: 0;
                }
                @media #{$tabletDown} {
                	left: 0;
                }
				&:before {
					position: absolute;
					content: "";
					width: 20px;
					height: 40px;
					background: url('../img/next-prev.png') 0 0;
					right: 0;
					top: 0;
				}
			}
		}
	}
	.list-score-live {
		position: relative;
		padding-bottom: $space-small;
		width: 70%;
		margin: 0 auto;
		margin-bottom: $space-smaller;	
		@media #{$tabletDown} {
			width: 100%;
		}
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: url('../img/border-score-live.png') no-repeat center center;
		}
	}
	.list-item {
		position: relative;
	}
}

#wrap-main {
	background: url('../img/bg-menu.png') no-repeat center left;
	position: relative;
	background-size: cover;
	.row {
		.col-lg-3 {
			width: 18%;
		}
		.col-lg-9 {
			width: 82%;
			margin-right: 0 !important;
		}
		@media #{$tabletDown} {
			.col-lg-3 {
				width: 30%;
			}
			.col-lg-9 {
				width: 70%;
			}
		}
	}
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		border-bottom: 2px solid $green;
		left: 0;
		bottom: 0;
	}
	#logo {
		position: absolute;
		top: -80px;
		left: 0;
		width: 100%;
		.worldcup-logo {
			position: absolute;
			left: 15%;
			top: 50%;
			@include transform(-50%);
			z-index: 1;
			width: 30%;
		}
		.bongda-logo {
			position: absolute;
			right: 10%;
			top: 50%;
			@include transform(-50%);
			z-index: 1;
			width: 35%;
		}
		&.logo-page {
        	top: 0;
        	width: 100%;
        }
		@media #{$tabletUp} {
           	top: -65px;
           	&.logo-page {
           		top: 0;
           	}
        }
		@media #{$tabletDown} {
			top: -28px;
		}
		> a {
			display: block;
		}
	}
	
}

.search-form {
	display: inline-block;
	position: relative;
	margin-top: $space-smaller - 2;
	.icon-search {
		float: right;
		margin-top: $space-smaller / 2;
		width: 20px;
		> a {
			@include transition(0.2s ease-in);
			display: block;
			font-size: 20px;
			color: $white;
			> i {
				&:last-child {
					display: none;
				}
				&:first-child {
					display: block;
				}
			}
		}
		&.active {
			> a {
				@include transition(0.2s ease-in);
				> i {
					&:last-child {
						display: block;
					}
					&:first-child {
						display: none;
					}
				}
			}
		}
	}
	#max-search {
		width: 300px;
		position: absolute;
		height: $space-medium;
		display: inline-block;
		right: 27px;
		top: -6px;
		opacity: 0;
    	visibility: hidden;
    	z-index: 9999;
		input {
			display: inline-block;
			width: 100%;
			border: 1px solid #ddd;
			height: 100%;
			padding-left: $space-smaller;
		}
		button {
			position: absolute;
			right: 0px;
			font-size: 18px;
			color: #333;
			border: none;
			box-shadow: none;
			top: 50%;
			background: none;
			@include transform(-50%);
		}
		&.opened {
			opacity: 1;
			visibility: visible;
		}
	}
}
.wrap-main-right {
	> div {
		display: inline-block;
		float: left;
		@media #{$tabletUp} {
			// display: none;
			&#menu {
				display: block;
				float: left;
			}
		}
		@media #{$tablet} {
			display: none;
			&#menu {
				display: block;
				float: right;
			}
		}
		@media #{$tabletDown} {
			display: none;
			&#menu {
				display: block;
				float: right;
			}
		}

		&.fb-api {
			background-color: #4a75ce;
			color: $white;
			margin-right: $space-smaller - 2;
			margin-left: $space-smaller;
		}
		&.yt-api {
			background-color: $white;
			color: #cb2121;
			margin-right: $space-smaller;
		}
		&.api-load {
			border-radius: 3px;
			padding: 3px;
			margin-top: $space-smaller;
			> svg {
				min-width: 16px;
			}
		}
	}
}
.coutdown {
	position: absolute;
	left: 50%;
	@include transformX(-50%);
	height: $space-medium;
	@media #{$tabletDown} {
		position: relative;
		left: inherit;
		@include transformX(0);
		padding-left: $space-small;
	}
	> div {
		// flex: auto;
		float: left;
		&.logo-worldcup {
			width: $space-small;
			margin-right: $space-smaller;
		}
		&.title {
			font-size: $font-medium + 2;
			color: $white;
			text-transform: uppercase;
			font-family: $font-oswaldLight;
			font-weight: $font-weight-light;
			margin-right: $space-smaller + 5;
			margin-top: $space-smaller;
		}
		&#timer {
			margin-top: $space-smaller - 4;
			#settime {
				display: none;
			}
		}
	}
}

#getcountdown {
	display: inline-block;
	width: 100%;
	ul {
		list-style: none;
		> li {
			float: left;
			font-size: $font-medium + 7;
			color: $red;
			font-family: $font-utm;
			background-color: $white;
			padding: 0 5px;
			box-shadow: -1px -5px 10px 0px rgba(0, 0, 0, 0.44) inset; 
			width: 24px;
			border-radius: 3px;
			text-align: center;
			margin-right: $space-smaller;
			position: relative;
			&:before {
				position: absolute;
				font-size: $font-medium - 7;
				color: $white;
				width: 100%;
				height: 100%;
				text-transform: uppercase;
				font-family: $font-utm;
				bottom: -37px;
			}
			&:nth-child(2n + 1) {
				margin-right: $space-smaller - 6;
				&:before {
					content: "Ngày";
					left: 15px;
					
				}
			}
			&:nth-child(3) {
				&:before {
					content: "Giờ";
					left: 14px;
				}
			}
			&:nth-child(5) {
				&:before {
					content: "Phút";
					left: 12px;
				}
			}
			&:nth-child(7) {
				&:before {
					content: "Giây";
					left: 12px;
				}
			}
			&:nth-child(2n) {
				&:before {
					content: ":";
					position: absolute;
					right: -8px;
					height: 32px;
					width: 5px;
					font-size: $font-medium;
					color: $white;
					top: 0;
				}
			}
			&:last-child {
				&:before {
					content: "";
				}
			}
			&:nth-child(8) {
				&:before {
					content: "";
				}
			}
		}
	}
}
@media #{$tabletDown} {
	.coutdown {
		> div {
			&.title {
				font-size: $font-medium - 5;
			}
		}
	}
	#getcountdown {
		ul {
			> li {
				font-size: $font-medium - 4;
				width: inherit;
				&:before {
					font-size: $font-small - 2;
					bottom: -25px;
				}
				&:nth-child(2n) {
					&:before {
						right: -8px;
						height: 20px;
						width: 5px;
						font-size: $font-medium - 5;
						top: 0;
					}
				}
			}
		}
	}
}