#max-menu-page {
	ul {
		list-style: none;
		margin-bottom: 0;
		display: inline-block;
		> li {
			float: left;
			position: relative;
			display: inline-block;
			padding: 10px 7px;
			@media #{$desktop} {
				padding: 10px 0;
			}
			&:hover {
				> a {
					background-color: $green;
					border-radius: 30px;
				}
			}
			&.active {
				> a {
					background-color: $green;
					border-radius: 30px;
				}
			}
			> a {
				position: relative;
				font-size: $font-medium;
				color: $white;
				font-family: $font-utm;
				text-transform: uppercase;
				padding: 3px 15px;
				white-space: nowrap;
				color: $white;

				@media #{$tabletUp} {
                    font-size: $font-nomal + 2;
                }
			}
		}
	}
}

#nav-menu-page {
	button {
		float: right;
		padding: 0;
		background: none;
		color: $white;
		font-size: $font-medium + 8;
		padding: $space-small 0 $space-small 0;
		display: inline-block;
		z-index: 700;
		opacity: 1;
		visibility: visible;
		border: 0;
		box-shadow: none;
		@include transition(all 0.4s ease-in);
		span {
			border-bottom: 2px solid $white;
			margin-bottom: $space-small;
			display: block;
			width: $space-medium * 2;
			&:nth-child(3) {
				margin-bottom: 0;
			}
		}
		&.close {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.close-m-extend {
	display: inline-block;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 0;
	top: $space-small;
	@include transition(all 0.4s ease-out);
	button {
		float: right;
		padding: 0;
		background: none;
		color: $white;
		font-size: $font-medium + 8;
		padding: 0;
		display: inline-block;
		z-index: 700;
		border: 0;
		box-shadow: none;
		height: 88px;
		&:active {
			box-shadow: none;
		}
		span {
			border-bottom: 2px solid $white;
			margin-bottom: $space-small;
			display: block;
			width: $space-medium * 2;
			@include transition(all 5s ease-out);
			&:nth-child(1) {
				-webkit-transform: rotate(-45deg);
			    -moz-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			    -o-transform: rotate(-45deg);
			    transform: rotate(-45deg);
			    margin-top: -21px;
			}

			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
			    -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
			    margin-top: -22px;
			    @include transition(all 5s ease-out);
			}

		}
	}
	&.open {
		opacity: 1;
		visibility: visible;
	}
}
#min-menu-page {
	background-color: $red;
	width: 86%;
	z-index: 99999;
	.exit {
		background-color: $white;
		width: $space-small + 10;
		height: $space-small + 10;
		border-radius: 50%;
		text-align: center;
		color: #000;
		font-size: $font-medium;
		line-height: $space-small + 10;
		float: right;
		margin-right: $space-smaller;
		margin-top: $space-smaller;
	}
	ul {
		// margin-top: $space-small * 2;
		> li {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			padding: $space-small;
			&:last-child {
				border-bottom: 0;
			}
			> a {
				font-size: $font-medium * 2;
				text-transform: uppercase;
				font-family: $font-utm;
				padding: 10px;
				color: $white;

			}
		}
	}
}

@media #{$tabletDown} {
	#nav-menu-page {
		button {
			padding: $space-smaller 0;
			display: inline-block;
			span {
				width: $space-small + 10;
				margin-bottom: $space-smaller - 2;
			}
		}
	}
	.close-m-extend {
		top: -($space-smaller / 2);
		button {
			padding: $space-smaller 0;
			span {
				width: $space-small + 10;
			}
		}
	}
	#min-menu-page { 
		ul {
			li {
				padding: $space-smaller;
				a {
					font-size: $font-medium;
				}
			}
		}
	}
}